<%- include ('./../helpers/pagination') %>
	<% const collection="sys_users" ; const linkPrefix=systemConfig.prefixAdmin + `/${collection}/`; %>
		<%- include ('./../elements/notify') %>
			<script src="admin/js/sha1.js"></script>
			<div class="container-fluid">
				<input name="linkPrefix" id="linkPrefix" type="hidden" value="<%= linkPrefix %>">
				<input name="params" id="params" type="hidden" value="<%= params %>">
				<div class="card card-info card-outline">
					<div class="card-header">
						<h6 class="card-title">Form</h6>
						<div class="card-tools">
							<button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
								title="Collapse">
								<i class="fas fa-minus"></i>
							</button>
						</div>
					</div>
					<div class="card-body" style="display: block;">
						<form role="form" name="formsys_users" id="formsys_users" autocomplete="off"
							action=" <%= linkPrefix %>searchGet" method="get">
							<div class="form-group row">
								<label id="labid" class="col-sm-2 col-form-label text-sm-right ">Id</label>
								<div class="col-xs-4 col-sm-4">
									<input type="number" readonly name="id" id="id" value="<%= item.id %>"
										class="form-control form-control-sm">
								</div>
								<label id="labemployee_code"
									class="col-sm-2 col-form-label text-sm-right required">Employee Code</label>
								<div class="col-xs-4 col-sm-4">
									<input type="text" name="employee_code" id="employee_code"
										value="<%= item.employee_code %>" class="form-control form-control-sm">
								</div>
								<label id="labcompany_id"
									class="col-sm-2 col-form-label text-sm-right required">Company</label>
								<div class="col-xs-4 col-sm-4">
									<div class="dropdown">
										<div id="divDropdownCompany_Name" class="dropdown-content">
											<input type="text" size="75" id="Company_Name" name="Company_Name"
												onkeyup="filterSelectBox('Company_Name')"
												onfocus="focusDropdown('Company_Name')"
												onblur="blurDropdown('Company_Name')"
												class="form-control form-control-sm">
											<input id="company_id" name="company_id" type="hidden">
											<div id="DivContenCompany_Name" class="Divdropdown-content">
											</div>
										</div>
									</div>
								</div>
								<label id="labdepartment_id"
									class="col-sm-2 col-form-label text-sm-right required">Department</label>
								<div class="col-xs-4 col-sm-4">
									<div class="dropdown">
										<div id="divDropdownDepartment_Name" class="dropdown-content">
											<input type="text" size="75" id="Department_Name" name="Department_Name"
												onkeyup="filterSelectBox('Department_Name')"
												onfocus="focusDropdown('Department_Name')"
												onblur="blurDropdown('Department_Name')"
												class="form-control form-control-sm">
											<input id="department_id" name="department_id" type="hidden">
											<div id="DivContenDepartment_Name" class="Divdropdown-content">
											</div>
										</div>
									</div>
								</div>
								<label id="labposition_id"
									class="col-sm-2 col-form-label text-sm-right required">Position</label>
								<div class="col-xs-4 col-sm-4">
									<div class="dropdown">
										<div id="divDropdownPosition_Name" class="dropdown-content">
											<input type="text" size="75" id="Position_Name" name="Position_Name"
												onkeyup="filterSelectBox('Position_Name')"
												onfocus="focusDropdown('Position_Name')"
												onblur="blurDropdown('Position_Name')"
												class="form-control form-control-sm">
											<input id="position_id" name="position_id" type="hidden">
											<div id="DivContenPosition_Name" class="Divdropdown-content">
											</div>
										</div>
									</div>
								</div>
								<label id="lablastname" class="col-sm-2 col-form-label text-sm-right required">Last
									Name</label>
								<div class="col-xs-4 col-sm-4">
									<input type="text" name="lastname" id="lastname" value="<%= item.lastname %>"
										class="form-control form-control-sm">
								</div>
								<label id="labfirstname" class="col-sm-2 col-form-label text-sm-right required">First
									Name</label>
								<div class="col-xs-4 col-sm-4">
									<input type="text" name="firstname" id="firstname" value="<%= item.firstname %>"
										class="form-control form-control-sm">
								</div>
								<label id="labusername"
									class="col-sm-2 col-form-label text-sm-right required">Username</label>
								<div class="col-xs-4 col-sm-4">
									<input type="text" autocomplete="off" name="username" id="username"
										value="<%= item.username %>" class="form-control form-control-sm">
								</div>
								<label id="labpassword"
									class="col-sm-2 col-form-label text-sm-right required">Password</label>
								<div class="col-xs-4 col-sm-4">
									<input type="password" name="password" id="password"
										class="form-control form-control-sm">
								</div>
								<label id="labConfirmPassword" class="col-sm-2 col-form-label text-sm-right required">
									Confirm Password</label>
								<div class="col-xs-4 col-sm-4">
									<input type="password" name="confirmPassword" id="confirmPassword"
										class="form-control form-control-sm">
								</div>
								<label id="labRandomPassword" class="col-sm-2 col-form-label text-sm-right ">Random
									Password</label>
								<div class="col-xs-3 col-sm-3">
									<input type="checkbox" name="status" id="randomPassword"
										class="form-control form-control-sm form-control-checkbox">
								</div>

								<label id="labEmailAccountsToUser" class="col-sm-3 col-form-label text-sm-right ">Email
									Accounts To User</label>
								<div class="col-xs-4 col-sm-4">
									<input type="checkbox" name="status" id="emailAccountsToUsers"
										class="form-control form-control-sm form-control-checkbox">
								</div>


								<label id="labsex" class="col-sm-2 col-form-label text-sm-right ">Sex</label>
								<div class="col-xs-4 col-sm-4">
									<select id="sex" name="sex" class="custom-select custom-select-sm">
										<option value="novalue">Choose Sex</option>
										<option value="Male" <%=(item.Female=="Male" ) ? 'selected="selected"' : '' %>
											>Male</option>
										<option value="Female" <%=(item.Female=="Female" ) ? 'selected="selected"' : ''
											%> >Female</option>

										<option value="Other" <%=(item.Female=="Other" ) ? 'selected="selected"' : '' %>
											>Other</option>

									</select>
								</div>
								<label id="labemail" class="col-sm-2 col-form-label text-sm-right ">Email</label>
								<div class="col-xs-4 col-sm-4">
									<input type="email" name="email" id="email" value="<%= item.email %>"
										class="form-control form-control-sm">
								</div>
								<label id="labphonenumber" class="col-sm-2 col-form-label text-sm-right ">Phone
									Number</label>
								<div class="col-xs-4 col-sm-4">
									<input type="text" name="phonenumber" id="phonenumber"
										value="<%= item.phonenumber %>" class="form-control form-control-sm">
								</div>
								<label id="labstatus" class="col-sm-2 col-form-label text-sm-right ">Status</label>
								<div class="col-xs-4 col-sm-4">
									<input type="checkbox" name="status" id="status"
										class="form-control form-control-sm form-control-checkbox">
								</div>
							</div>
							<div class="form-group row">
								<div class="col-xs-2 col-sm-2"></div>
								<div class="col-xs-10 col-sm-10">
									<button type="button" id="btnSave" class="btn-sm btn-success" title="Save">
										<i class="fa fa-save"></i> Save
									</button>
									&nbsp; <button type="button" id="btnSaveAs" class="btn-sm btn-danger"
										title="Save as">
										<i class="far fa-clone"></i> Save as
									</button>
									&nbsp; <button type="button" id="btnUpdate" class="btn-sm btn-primary"
										title="Update">
										<i class="fa fa-save"></i> Update
									</button>
									&nbsp; <button type="button" id="btnDelete" class="btn-sm btn-danger"
										title="Delete">
										<i class="fas fa-trash-alt"></i> Delete
									</button>
									&nbsp; <button type="button" id="btnSearchPost" class="btn-sm btn-info"
										title="Search">
										<i class="fa fa-search"></i> Search
									</button>
									&nbsp; <button type="submit" id="btnSearchGet" class="btn-sm btn-warning"
										title="Search Get">
										<i class="fa fa-search"></i> Search Get
									</button>
									&nbsp; <button type="button" id="btnExport" class="btn-sm btn-success"
										title="Export">
										<i class="fa fa-download"></i> Export
									</button>
								</div>
							</div>
							<div class="form-group row">
								<div class="text-success" id="divMessage"></div>
							</div>
						</form>
						<input name="idHidden" id="idHidden" type="hidden">
						<input name="listData" id="listData" type="hidden" value="<%= itemString %>">
						<input name="sysLanguage" id="sysLanguage" type="hidden" value="<%= language %>">
						<input name="listDataCatalogue" id="listDataCatalogue" type="hidden" value="<%= catalogue %>">
					</div>
				</div>
				<div class="card card-info card-outline">
					<div class="card-header">
						<h4 class="card-title">List data</h4>
						<div class="card-tools">
							<button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
								title="Collapse"><i class="fas fa-minus"></i></button>
						</div>
					</div>
					<div class="card-body">
						<table id="tablesys_users" class="table table-bordered table-hover btn-table mb-0">
							<thead>
								<tr>
									<th class="text-center">
										<div class="custom-control custom-checkbox">
											<input class="custom-control-input cbAll" type="checkbox" id="check-all">
											<label for="check-all" class="custom-control-label"></label>
										</div>
									</th>
									<th class="text-center">
										<label id="labid_tb" data-sort="" data-column="id" class="columnHeader"
											onclick="sortByColumn(this)">
											Id <i class="fa fa-fw" data-column="id"></i>
										</label>
									</th>
									<th class="text-center">
										<label id="labemployee_code_tb" data-sort="" data-column="employee_code"
											class="columnHeader" onclick="sortByColumn(this)">
											Employee Code <i class="fa fa-fw" data-column="employee_code"></i>
										</label>
									</th>
									<th class="text-center">
										<label id="labcompany_id_tb" data-sort="" data-column="company_id"
											class="columnHeader" onclick="sortByColumn(this)">
											Company <i class="fa fa-fw" data-column="company_id"></i>
										</label>
									</th>
									<th class="text-center">
										<label id="labdepartment_id_tb" data-sort="" data-column="department_id"
											class="columnHeader" onclick="sortByColumn(this)">
											Department <i class="fa fa-fw" data-column="department_id"></i>
										</label>
									</th>
									<th class="text-center">
										<label id="labposition_id_tb" data-sort="" data-column="position_id"
											class="columnHeader" onclick="sortByColumn(this)">
											Position <i class="fa fa-fw" data-column="position_id"></i>
										</label>
									</th>
									<th class="text-center">
										<label id="lablastname_tb" data-sort="" data-column="lastname"
											class="columnHeader" onclick="sortByColumn(this)">
											Last Name <i class="fa fa-fw" data-column="lastname"></i>
										</label>
									</th>
									<th class="text-center">
										<label id="labfirstname_tb" data-sort="" data-column="firstname"
											class="columnHeader" onclick="sortByColumn(this)">
											First Name <i class="fa fa-fw" data-column="firstname"></i>
										</label>
									</th>
									<th class="text-center">
										<label id="labusername_tb" data-sort="" data-column="username"
											class="columnHeader" onclick="sortByColumn(this)">
											Username <i class="fa fa-fw" data-column="username"></i>
										</label>
									</th>
									<th class="text-center">
										<label id="labpassword_tb" data-sort="" data-column="password"
											class="columnHeader" onclick="sortByColumn(this)">
											Password <i class="fa fa-fw" data-column="password"></i>
										</label>
									</th>
									<th class="text-center">
										<label id="labsex_tb" data-sort="" data-column="sex" class="columnHeader"
											onclick="sortByColumn(this)">
											Sex <i class="fa fa-fw" data-column="sex"></i>
										</label>
									</th>
									<th class="text-center">
										<label id="labemail_tb" data-sort="" data-column="email" class="columnHeader"
											onclick="sortByColumn(this)">
											Email <i class="fa fa-fw" data-column="email"></i>
										</label>
									</th>
									<th class="text-center">
										<label id="labphonenumber_tb" data-sort="" data-column="phonenumber"
											class="columnHeader" onclick="sortByColumn(this)">
											Phone Number <i class="fa fa-fw" data-column="phonenumber"></i>
										</label>
									</th>
									<th class="text-center">
										<label id="labstatus_tb" data-sort="" data-column="status" class="columnHeader"
											onclick="sortByColumn(this)">
											Status <i class="fa fa-fw" data-column="status"></i>
										</label>
									</th>
									<th class="text-center">Action</a></th>
								</tr>
							</thead>
							<tbody id="bodyTablesys_users">
								<tr>
									<th class="text-center"></a></th>
									<th class="text-center"></a></th>
									<th class="text-center"></a></th>
									<th class="text-center"></a></th>
									<th class="text-center"></a></th>
									<th class="text-center"></a></th>
									<th class="text-center"></a></th>
									<th class="text-center"></a></th>
									<th class="text-center"></a></th>
									<th class="text-center"></a></th>
									<th class="text-center"></a></th>
									<th class="text-center"></a></th>
									<th class="text-center"></a></th>
									<th class="text-center"></a></th>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-xs-1 col-sm-1">Quantity per page:</div>
					<div class="col-xs-1 col-sm-1">
						<input type="number" class="form-control form-control-sm" name="numberItemPerPage"
							id="numberItemPerPage" size="4">
					</div>
					<div class="col-xs-9 col-sm-9" id="paginationsys_users">
					</div>
				</div>
			</div>
			<script type="application/javascript">
				var language={};
				var listData;
				var linkPrefix=$('#linkPrefix').val();

				onLoadData();
				function onLoadData() {

					getLanguage();
					setUpdateButtonStatus(false)
					setInterfaceText();
					getNumberItemPerPage();
					var strData=$('#listData').val();
					listData=JSON.parse(strData);
					if(listData.length>0) {
						displayDataToTable();
						var paramsString=$('#params').val();
						const params=JSON.parse(paramsString);
						paginationHelper(params.pagination,"sys_users",params.currentStatus,params.keyword,linkPrefix,"paginationsys_users");
					}
				}

				function displayDataToTable() {
					sortDataJson();
					var table=document.getElementById("bodyTablesys_users");
					var lengthtable=table.rows.length-1;
					for(var n=lengthtable;n>=0;n--) {
						table.deleteRow(n);
					}
					var length=listData.length;
					if(length<1) {
						showNoticeDanger(language.Message_NotFoundData);
						return false;
					}
					listData.forEach(function(data) {
						var row=table.insertRow(0);
						var cell0=row.insertCell(0);
						var cell1=row.insertCell(1);
						var cell2=row.insertCell(2);
						var cell3=row.insertCell(3);
						var cell4=row.insertCell(4);
						var cell5=row.insertCell(5);
						var cell6=row.insertCell(6);
						var cell7=row.insertCell(7);
						var cell8=row.insertCell(8);
						var cell9=row.insertCell(9);
						var cell10=row.insertCell(10);
						var cell11=row.insertCell(11);
						var cell12=row.insertCell(12);
						var cell13=row.insertCell(13);
						var cell14=row.insertCell(14);
						let check=`<div class="custom-control custom-checkbox"> 
				<input class="custom-control-input" type="checkbox" name="chkListData" id="${data.id}" value="${data.id}">
				<label for="${data.id}" class="custom-control-label"></label>
			</div>`;

						cell0.innerHTML=check;
						cell1.innerHTML=data.id;
						cell2.innerHTML=data.employee_code;
						cell3.innerHTML=data.company_name;
						cell4.innerHTML=data.department_name;
						cell5.innerHTML=data.position_name;
						cell6.innerHTML=data.lastname;
						cell7.innerHTML=data.firstname;
						cell8.innerHTML=data.username;
						cell9.innerHTML=data.password;
						cell10.innerHTML=data.sex;
						cell11.innerHTML=data.email;
						cell12.innerHTML=data.phonenumber;
						cell13.innerHTML=data.status;
						let strbutton=" <a  onclick=\"getById('"+data.id+"')\" type=\"button\" class=\"rounded-circle btn btn-sm btn-info\" title=\"Edit\">"+
							"<i class=\"fas fa-pencil-alt\"></i>"+
							"</a> "+
							" <button type=\"button\" class=\"rounded-circle btn btn-sm btn-danger\" data-id=\""+data.id+"\" title=\"Delete\"  onclick=\"deleteById(this,"+data.id+")\">";
						strbutton+=" <i class=\"fas fa-trash-alt\"></i> ";
						strbutton+=" </ button > ";
						cell14.innerHTML=strbutton;
					});
				}

				$("#numberItemPerPage").change(function() {
					setNumberItemPerPage();
				});
				function setUpdateButtonStatus(statusUpdate) {
					$('#btnSave').prop('hidden',statusUpdate);
					$('#btnUpdate').prop('hidden',!statusUpdate);
				}

				function getLanguage() {
					var languageString=$('#sysLanguage').val();
					language=JSON.parse(languageString);
				}

				function setInterfaceText() {
					$("#pageTitle").html(language.TitlePage);
					$("#labid").text(language.id);
					$("#labemployee_code").text(language.employee_code);
					$("#labcompany_id").text(language.company_id);
					$("#labdepartment_id").text(language.department_id);
					$("#labposition_id").text(language.position_id);
					$("#lablastname").text(language.lastname);
					$("#labfirstname").text(language.firstname);
					$("#labusername").text(language.username);
					$("#labpassword").text(language.password);
					$("#labRandomPassword").text(language.randomPassword);
					$("#labEmailAccountsToUser").text(language.emailAccountsToUser);
					$("#labsex").text(language.sex);
					$("#labemail").text(language.email);
					$("#labphonenumber").text(language.phonenumber);
					$("#labstatus").text(language.status);
					$("#labid_tb").html(language.id+"<i class=\"fa fa-fw\" data-column=\"id\"></i>");
					$("#labemployee_code_tb").html(language.employee_code+"<i class=\"fa fa-fw\" data-column=\"employee_code\"></i>");
					$("#labcompany_id_tb").html(language.company_id+"<i class=\"fa fa-fw\" data-column=\"company_id\"></i>");
					$("#labdepartment_id_tb").html(language.department_id+"<i class=\"fa fa-fw\" data-column=\"department_id\"></i>");
					$("#labposition_id_tb").html(language.position_id+"<i class=\"fa fa-fw\" data-column=\"position_id\"></i>");
					$("#lablastname_tb").html(language.lastname+"<i class=\"fa fa-fw\" data-column=\"lastname\"></i>");
					$("#labfirstname_tb").html(language.firstname+"<i class=\"fa fa-fw\" data-column=\"firstname\"></i>");
					$("#labusername_tb").html(language.username+"<i class=\"fa fa-fw\" data-column=\"username\"></i>");
					$("#labpassword_tb").html(language.password+"<i class=\"fa fa-fw\" data-column=\"password\"></i>");
					$("#labsex_tb").html(language.sex+"<i class=\"fa fa-fw\" data-column=\"sex\"></i>");
					$("#labemail_tb").html(language.email+"<i class=\"fa fa-fw\" data-column=\"email\"></i>");
					$("#labphonenumber_tb").html(language.phonenumber+"<i class=\"fa fa-fw\" data-column=\"phonenumber\"></i>");
					$("#labstatus_tb").html(language.status+"<i class=\"fa fa-fw\" data-column=\"status\"></i>");
				}

				createDataForDropdownLists();
				function createDataForDropdownLists() {
					var strCatalogue=$('#listDataCatalogue').val();
					arrCatalogue=JSON.parse(strCatalogue);
					createDataForDropdown(arrCatalogue[0],'company_id','id','Company_Name','name','-- Chose --');
					createDataForDropdown(arrCatalogue[1],'department_id','id','Department_Name','name','-- Chose --');
					createDataForDropdown(arrCatalogue[2],'position_id','id','Position_Name','name','-- Chose --');
				}

				closeAllDropdown();
				function closeAllDropdown() {
					var DivContenname=document.getElementById('DivContenCompany_Name');
					DivContenname.hidden=true;

					var DivContenname=document.getElementById('DivContenDepartment_Name');
					DivContenname.hidden=true;

					var DivContenname=document.getElementById('DivContenPosition_Name');
					DivContenname.hidden=true;

				}

				function getById(Id) {
					var link=linkPrefix+'getById/'+Id;
					$.ajax({
						type: 'GET',
						url: link,
						dataType: "json",
						success: function(resultdata) {
							var success=resultdata.success;
							if(success==true) {
								showDataToForm(resultdata.data);
							}
						},
						failure: function(response) {
							alert(language.Message_GetItemByIdError);
						},
						error: function(response) {
							alert(language.Message_GetItemByIdError);
						},
					});
				}

				function showDataToForm(data) {
					try {
						setUpdateButtonStatus(true);

						$('#idHidden').val(data.id);
						$('#id').val(data.id);
						$('#employee_code').val(data.employee_code);
						$('#company_id').val(data.company_id);
						$('#Company_Name').val(data.company_name);
						$('#department_id').val(data.department_id);
						$('#Department_Name').val(data.department_name);
						$('#position_id').val(data.position_id);
						$('#Position_Name').val(data.position_name);
						$('#lastname').val(data.lastname);
						$('#firstname').val(data.firstname);
						$('#username').val(data.username);
						$('#password').val(data.password);
						$('#sex').val(data.sex);
						$('#email').val(data.email);
						$('#phonenumber').val(data.phonenumber);
						if((data.status=="true")||(data.status==true)||(data.status=="active")||(data.status=="yes")||(data.status=="1"))
							$("#status").prop("checked",true);
						else $("#status").prop("checked",false);
					}
					catch(error) {}
				}

				function clearForm() {
					try {
						$('#idHidden').val('');
						setUpdateButtonStatus(false)
						$('#id').val('');
						$('#employee_code').val('');
						$('#company_id').val('');
						$('#name').val('');
						$('#department_id').val('');
						$('#name').val('');
						$('#position_id').val('');
						$('#name').val('');
						$('#lastname').val('');
						$('#firstname').val('');
						$('#username').val('');
						$('#password').val('');
						$('#sex').val('');
						$('#email').val('');
						$('#phonenumber').val('');
						$("#status").prop("checked",false);
					}
					catch(error) {}
				}

				$('#btnSearchPost').click(function() {
					$(this).prop('disabled',true);
					getContentPages(1);
				});

				function getContentPages(page) {
					var sortStorage=getSortType(linkPrefix);
					let data={
						employee_code: $('#employee_code').val(),
						lastname: $('#lastname').val(),
						firstname: $('#firstname').val(),
						username: $('#username').val(),
						password: $('#password').val(),
						sex: $('#sex').val(),
						email: $('#email').val(),
						phonenumber: $('#phonenumber').val(),
						Page: page,
						sortColumn: sortStorage.sortColumn,
						sortType: sortStorage.sortType,
						numberItemPerPage: $('#numberItemPerPage').val()
					}
					var link=linkPrefix+'search';
					$.ajax({
						type: 'POST',
						url: link,
						data: data,
						dataType: "json",
						success: function(resultdata) {
							$('#btnSearchPost').prop('disabled',false);
							listData=resultdata.data;
							displayDataToTable();
							let params=resultdata.params;
							paginationHelper(params.pagination,"sys_users","","",linkPrefix,"paginationsys_users");

							if(params.pagination.totalItems>0) {
								var message=language.Message_Find+params.pagination.totalItems+language.Message_Words_records;
								showNoticeSuccess(message);
							}
						},
						failure: function(response) {
							$('#btnSearchPost').prop('disabled',false);
							showNoticeDanger('Search Error');
						},
						error: function(response) {
							$('#btnSearchPost').prop('disabled',false);
							showNoticeDanger('Search Error');
						}
					});
					$('#btnSearchPost').prop('disabled',false);
				}

				$('#btnSave').click(function() {
					$(this).prop('disabled',true);
					saveInsert();
					$(this).prop('disabled',false);
				});

				$('#btnSaveAs').click(function() {
					$(this).prop('disabled',true);
					$('#idHidden').val('');
					$('#id').val('');
					saveInsert();
					$(this).prop('disabled',false);
				});

				$('#randomPassword').change(function() {
					if(this.checked) {
						$('#password').val('');
						$('#confirmPassword').val('');

						//alert('123');
					}
					else {
					}

				});

				function chekValueAndSubmit() {
					if(($('#employee_code').val().length<1)||($('#employee_code').val().length>15)) {
						var message=formatMessage(language.employee_code+": "+language.Message_Invalid_employee_code,'1','15');
						alert(message);
						return false;
					}
					if(($('#company_id').val()<-2147483648)||($('#company_id').val()>4294967295)) {
						var message=formatMessage(language.company_id+": "+language.Message_Invalid_company_id,'-2147483648','4294967295');
						alert(message);
						return false;
					}
					if(($('#department_id').val()<-2147483648)||($('#department_id').val()>4294967295)) {
						var message=formatMessage(language.department_id+": "+language.Message_Invalid_department_id,'-2147483648','4294967295');
						alert(message);
						return false;
					}
					if(($('#position_id').val()<-2147483648)||($('#position_id').val()>4294967295)) {
						var message=formatMessage(language.position_id+": "+language.Message_Invalid_position_id,'-2147483648','4294967295');
						alert(message);
						return false;
					}
					if(($('#lastname').val().length<1)||($('#lastname').val().length>30)) {
						var message=formatMessage(language.lastname+": "+language.Message_Invalid_lastname,'1','30');
						alert(message);
						return false;
					}
					if(($('#firstname').val().length<1)||($('#firstname').val().length>30)) {
						var message=formatMessage(language.firstname+": "+language.Message_Invalid_firstname,'1','30');
						alert(message);
						return false;
					}
					if(($('#username').val().length<1)||($('#username').val().length>20)) {
						var message=formatMessage(language.username+": "+language.Message_Invalid_username,'1','20');
						alert(message);
						return false;
					}
					if(($('#password').val().length<1)||($('#password').val().length>50)) {
						var message=formatMessage(language.password+": "+language.Message_Invalid_password,'1','50');
						alert(message);
						return false;
					}
					let status=$('#status').is(":checked")? 1:0;
					$('#status').val(status);
					document.getElementById("formsys_users").submit();
				}

				function getDataForm() {

					alert($('#password').val());
					alert($('#confirmPassword').val());
					let randomPassword=$('#randomPassword').is(":checked")? true:false;
					if(($('#employee_code').val().length<1)||($('#employee_code').val().length>15)) {
						var message=formatMessage(language.employee_code+": "+language.Message_Invalid_employee_code,'1','15');
						alert(message);
						return false;
					}
					if(($('#company_id').val()<-2147483648)||($('#company_id').val()>4294967295)) {
						var message=formatMessage(language.company_id+": "+language.Message_Invalid_company_id,'-2147483648','4294967295');
						alert(message);
						return false;
					}
					if(($('#department_id').val()<-2147483648)||($('#department_id').val()>4294967295)) {
						var message=formatMessage(language.department_id+": "+language.Message_Invalid_department_id,'-2147483648','4294967295');
						alert(message);
						return false;
					}
					if(($('#position_id').val()<-2147483648)||($('#position_id').val()>4294967295)) {
						var message=formatMessage(language.position_id+": "+language.Message_Invalid_position_id,'-2147483648','4294967295');
						alert(message);
						return false;
					}
					if(($('#lastname').val().length<1)||($('#lastname').val().length>30)) {
						var message=formatMessage(language.lastname+": "+language.Message_Invalid_lastname,'1','30');
						alert(message);
						return false;
					}
					if(($('#firstname').val().length<1)||($('#firstname').val().length>30)) {
						var message=formatMessage(language.firstname+": "+language.Message_Invalid_firstname,'1','30');
						alert(message);
						return false;
					}

					if(($('#username').val().length<1)||($('#username').val().length>20)) {
						var message=formatMessage(language.username+": "+language.Message_Invalid_username,'1','20');
						alert(message);
						return false;
					}

					if(randomPassword==false) {
						if(($('#password').val().length<1)||($('#password').val().length>50)) {
							var message=formatMessage(language.password+": "+language.Message_Invalid_password,'1','50');
							alert(message);
							return false;
						}
						if($('#password').val()!=$('#confirmPassword').val()) {
							var message="Xác nhận mật khẩu không đúng";
							alert(message);
							return false;
						}
					}

					let username=$('#username').val();
					username=replaceAll(username,' ','');
					username=username.toLowerCase();
					let username_encrypted=hex_sha1(username);

					let password='';
					let password_encrypted='';
					let confirmPassword='';
					let confirmPassword_encrypted='';

					if(randomPassword==false) {
						password=$('#password').val();
						password=replaceAll(password,' ','');
						password_encrypted=hex_sha1(password);
						confirmPassword_encrypted=password_encrypted;

						let confirmPassword=$('#confirmPassword').val();
						confirmPassword=replaceAll(confirmPassword,' ','');
						if(confirmPassword!=password) {
							var msg="Xác nhận lại mật khẩu không khớp với mật khẩu";
							$("#divMessage").html(msg);
							alert(msg);
							showNoticeDanger(msg);
							return false;
						}
						var decimal=/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/;
						if(!confirmPassword.match(decimal)) {
							var msg="Mật khẩu phải từ 8 ký tự trở lên, có chứa chữ IN HOA, chữ thường, có số và KÝ TỰ ĐẶC BIỆT";
							$("#divMessage").html(msg);
							alert(msg);
							showNoticeDanger(msg);
						}
					}
					else {
						password=randomString(8);
						password_encrypted=hex_sha1(password);
						confirmPassword=password;
						confirmPassword_encrypted=password_encrypted;
					}
					return {
						'idHidden': $('#idHidden').val(),
						'id': $('#id').val(),
						'employee_code': $('#employee_code').val(),
						'company_id': $('#company_id').val(),
						'department_id': $('#department_id').val(),
						'position_id': $('#position_id').val(),
						'lastname': $('#lastname').val(),
						'firstname': $('#firstname').val(),
						'username': $('#username').val(),
						'username_encrypted': username_encrypted,
						'password': password,
						'password_encrypted': password_encrypted,
						'confirmPassword': confirmPassword,
						'confirmPassword_encrypted': confirmPassword_encrypted,
						'sex': $('#sex').val(),
						'email': $('#email').val(),
						'phonenumber': $('#phonenumber').val(),
						'status': $('#status').is(":checked")? 1:0,
						'emailAccountsToUser': $('#emailAccountsToUser').is(":checked")? 1:0,
					}
				}

				function randomString(stringLength) {
					var text="";
					var possible="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789!@#$%6&*()";
					var possibleLength=possible.length;
					for(var i=0;i<stringLength;i++)
						text+=possible.charAt(Math.floor(Math.random()*possibleLength));
					return text;
				}

				function saveInsert() {
					let data=getDataForm();
					if(data==false) {
						$('#btnSave').prop('disabled',false);
						return false;
					}
					var link=linkPrefix+'save';
					$.ajax({
						type: 'post',
						url: link,
						data: data,
						dataType: "json",
						success: function(response) {
							var success=response.success;
							var result=response.data;
							if((success=='false')||(success==false)) {
								var message=response.message;
								try {
									if(response.message=='AccountAlreadyExists');
									message=language.Message_AccountAlreadyExists;
								}
								catch(err) {}
								showNoticeDanger(language.Message_AddNewError+' ('+message+')');
								//
							}
							else if((success!=true)&&(success!='true'))
								showNoticeDanger(result.message);
							else {
								insertRow(result.data);
								clearForm();
							}
						},
						failure: function(response) {
							showErrorMessageSave(response,language.Message_AddNewError);
						},
						error: function(response) {
							showErrorMessageSave(response,language.Message_AddNewError);
						},
					});
					$('#btnSave').prop('disabled',false);
				}

				function insertRow(data) {
					showNoticeSuccess(language.Message_AddNewSuccess);
					var table=document.getElementById("bodyTablesys_users");
					var row=table.insertRow(1);
					var cell0=row.insertCell(0);
					var cell1=row.insertCell(1);
					var cell2=row.insertCell(2);
					var cell3=row.insertCell(3);
					var cell4=row.insertCell(4);
					var cell5=row.insertCell(5);
					var cell6=row.insertCell(6);
					var cell7=row.insertCell(7);
					var cell8=row.insertCell(8);
					var cell9=row.insertCell(9);
					var cell10=row.insertCell(10);
					var cell11=row.insertCell(11);
					var cell12=row.insertCell(12);
					var cell13=row.insertCell(13);
					var cell14=row.insertCell(14);
					let check=`<div class="custom-control custom-checkbox"> 
					<input class="custom-control-input" type="checkbox" name="chkListData" id="${data.id}" value="${data.id}">
					<label for="${data.id}" class="custom-control-label"></label>
				</div>`;
					cell0.innerHTML=check;
					cell1.innerHTML=data.id;
					cell2.innerHTML=data.employee_code;
					if(data.company_id==$('#company_id').val()) {
						cell3.innerHTML=$('#company_name').val();
					}
					if(data.department_id==$('#department_id').val()) {
						cell4.innerHTML=$('#department_name').val();
					}
					if(data.position_id==$('#position_id').val()) {
						cell5.innerHTML=$('#position_name').val();
					}
					cell6.innerHTML=data.lastname;
					cell7.innerHTML=data.firstname;
					cell8.innerHTML=data.username;
					cell9.innerHTML=data.password;
					cell10.innerHTML=data.sex;
					cell11.innerHTML=data.email;
					cell12.innerHTML=data.phonenumber;
					cell13.innerHTML=data.status;
					let strbutton=" <a  onclick=\"getById('"+data.id+"')\" type=\"button\" class=\"rounded-circle btn btn-sm btn-info\" title=\"Edit\">"+
						"<i class=\"fas fa-pencil-alt\"></i>"+
						"</a> "+
						" <button type=\"button\" class=\"rounded-circle btn btn-sm btn-danger\" data-id=\""+data.id+"\" title=\"Delete\"  onclick=\"deleteById(this,"+data.id+")\">";
					strbutton+=" <i class=\"fas fa-trash-alt\"></i> ";
					strbutton+=" </ button > ";
					cell14.innerHTML=strbutton;
				}

				$('#btnUpdate').click(function() {
					$(this).prop('disabled',true);
					saveUpdate();
					$(this).prop('disabled',false);
				});

				function saveUpdate() {
					let data=getDataForm();
					if(data==false) {
						$('#btnUpdate').prop('disabled',false);
						return false;
					}
					if(data.idHidden=="") {
						$('#btnUpdate').prop('disabled',false);
						showNoticeDanger(language.Message_HaveNotSelectedItemUpdate);
						return false;
					}
					var link=linkPrefix+'update';
					$.ajax({
						type: 'put',
						url: link,
						data: data,
						dataType: "json",
						success: function(response) {
							var success=response.success;
							var result=response.data;
							if((success=='false')||(success==false)) {
								showNoticeDanger(language.Message_UpdateError);
								return false;
							}
							else if((success!=true)&&(success!='true')) {
								showNoticeDanger(result.message);
								return false;
							}
							else {
								updateRow(result.data);
								clearForm();
							}
						},
						failure: function(response) {
							showErrorMessageSave(response,language.Message_UpdateError);
						},
						error: function(response) {
							showErrorMessageSave(response,language.Message_UpdateError);
						}
					});
					$('#btnUpdate').prop('disabled',false);
				}

				function updateRow(data) {
					showNoticeSuccess(language.Message_UpdateSuccess);

					var row=$("#tablesys_users button[data-id='"+data.id+"']").parents("tr")[0];
					var tr="<tr>"+
						"<td class=\"text-center\">"+
						"<div class=\"custom-control custom-checkbox\">"+
						"<input class=\"custom-control-input\" type=\"checkbox\" name=\"chkListData\" id=\""+data.id+"\" value=\""+data.id+"\"> "+
						"<label for=\""+data.id+"\" class=\"custom-control-label\"></label> "+
						"</div>"+
						"</td>";
					tr+="<td class=\"text-center\">"+data.id+"</td>";
					tr+="<td class=\"text-center\">"+data.employee_code+"</td>";
					if(data.company_id==$('#company_id').val()) {
						tr+="<td class=\"text-center\">"+$('#name').val()+"</td>";
					}
					if(data.department_id==$('#department_id').val()) {
						tr+="<td class=\"text-center\">"+$('#name').val()+"</td>";
					}
					if(data.position_id==$('#position_id').val()) {
						tr+="<td class=\"text-center\">"+$('#name').val()+"</td>";
					}
					tr+="<td class=\"text-center\">"+data.lastname+"</td>";
					tr+="<td class=\"text-center\">"+data.firstname+"</td>";
					tr+="<td class=\"text-center\">"+data.username+"</td>";
					tr+="<td class=\"text-center\">"+data.password+"</td>";
					tr+="<td class=\"text-center\">"+data.sex+"</td>";
					tr+="<td class=\"text-center\">"+data.email+"</td>";
					tr+="<td class=\"text-center\">"+data.phonenumber+"</td>";
					tr+="<td class=\"text-center\">"+data.status+"</td>";
					tr+="<td class=\"text-center\">"+
						" <a  onclick=\"getById('"+data.id+"')\" type=\"button\" class=\"rounded-circle btn btn-sm btn-info\" title=\"Edit\">"+
						" <i class=\"fas fa-pencil-alt\"></i>"+
						" </a>"+
						" <button type=\"button\" class=\"rounded-circle btn btn-sm btn-danger\" data-id=\""+data.id+"\" title=\"Delete\"  onclick=\"deleteById(this,'"+data.id+"')\">"+
						" <i class=\"fas fa-trash-alt\"></i> "+
						" </button> "+
						" </td>"+
						" </tr>";
					$(row).after(tr);
					$(row).remove();
				}
				function deleteById(row,IdObject) {
					let message=language.Message_DoYouWantToDeleteById+' '+IdObject+'?';
					var answer=confirm(message)
					if(!answer) {return false;}
					let data={
						'id': IdObject
					};
					var link=linkPrefix+'deleteById';
					$.ajax({
						type: 'delete',
						url: link,
						data: data,
						dataType: "json",
						success: function(resultdata) {
							var success=resultdata.success;
							var message=resultdata.message;
							var notice={};
							if((success=='true')||(success==true)) {
								showNoticeSuccess(language.Message_DeleteSuccess);
								var i=row.parentNode.parentNode.rowIndex;
								document.getElementById("tablesys_users").deleteRow(i);
								return true;
							}
							else if(message.length>10) {
								showNoticeDanger(message);
								return false;
							}
							else {
								showNoticeDanger(language.Message_DeleteFail);
								return false;
							}
						},
						failure: function(response) {
							showNoticeDanger(language.Message_DeleteFail);
						},
						error: function(response) {
							showNoticeDanger(language.Message_DeleteFail);
						}
					});
				}

				$('#btnDelete').click(function() {
					$(this).prop('disabled',true);
					deleteList();
					$(this).prop('disabled',false);
				});
				function deleteList() {
					var arrayId=[];
					var listId=" ";
					$("input:checkbox[name=chkListData]:checked").each(function() {
						arrayId.push($(this).val());
						listId+=$(this).val()+',';
					});
					let message=language.Message_DoYouWantToDeleteInTheList+' '+listId+'?';
					var answer=confirm(message)
					if(!answer) {return false;}
					let data={arrayId};
					var link=linkPrefix+'deleteList';
					$.ajax({
						type: 'delete',
						url: link,
						data: data,
						dataType: "json",
						success: function(resultdata) {
							var result=resultdata.data;
							var success=result.success;
							var message=result.message;
							if((success=='true')||(success==true)) {
								let deleteSuccess=result.deleteSuccess;
								let deleteError=result.deleteError;
								if(deleteSuccess.length>0) {
									let message=language.Message_DeleteSuccess;
									message+=" "+deleteSuccess.toString();
									if(deleteError.length>0) {
										message+=" \n"+language.Message_DeleteFail+" "+deleteError.toString();
									}
									showNoticeSuccess(message);
									deleteRows(arrayId,"bodyTablesys_users");
									return true;
								}
								else if(deleteError.length>0) {
									let message=language.Message_DeleteFail+" "+deleteError.toString();
									showNoticeDanger(message);
								}
								else {
									showNoticeDanger(language.Message_DeleteFail);
								}
							}
							else if((success=='false')||(success==false)) {
								showNoticeDanger(language.Message_DeleteFail);
								return false;
							}
						},
						failure: function(response) {
							showNoticeDanger(language.Message_DeleteFail);
						},
						error: function(response) {
							showNoticeDanger(language.Message_DeleteFail);
						}
					});
				}

				$('#btnExport').click(function() {
					$(this).prop('disabled',true);
					exportData();
					$(this).prop('disabled',false);
				});

				function exportData() {
					let data={
						'employee_code': $('#employee_code').val(),
						'lastname': $('#lastname').val(),
						'firstname': $('#firstname').val(),
						'username': $('#username').val(),
						'password': $('#password').val(),
						'sex': $('#sex').val(),
						'email': $('#email').val(),
						'phonenumber': $('#phonenumber').val(),
					}
					var link=linkPrefix+'exportData';
					$.ajax({
						type: 'post',
						url: link,
						data: data,
						dataType: "json",
						success: function(resultdata) {
							$('#btnExport').prop('disabled',false);
							let result=resultdata.data;
							showNoticeSuccess(language.Message_CompletedGetData);
							ExportToExcel(result);
						},
						failure: function(response) {
							$('#btnExport').prop('disabled',false);
							showNoticeDanger('Export Error');
						},
						error: function(response) {
							$('#btnExport').prop('disabled',false);
							showNoticeDanger('Export Error');
						}
					});
					$('#btnExport').prop('disabled',false);
				}

				function ExportToExcel(datas) {
					let itemCount=datas.length;
					if(itemCount>1000) {
						showNoticeDanger(language.Message_WarningWhenExportingDataTooMuch);
					}
					if(itemCount<1) {
						showNoticeDanger(language.Message_NotFoundData);
					}
					var strTable='<style type="text/css">';
					strTable+=' .Border { ';
					strTable+='         color: windowtext; ';
					strTable+='         font-size: 11.0pt; ';
					strTable+='         word-break:break-all;';
					strTable+='         font-style: normal; ';
					strTable+='         text-decoration: none; ';
					strTable+='         font-family: "Times New Roman", serif; ';
					strTable+='         text-align: left; ';
					strTable+='         vertical-align: bottom;';
					strTable+='         border-left: .5pt solid windowtext; ';
					strTable+='         border-right: .5pt solid windowtext; ';
					strTable+='         border-top: .5pt solid windowtext; ';
					strTable+='         border-bottom: .5pt solid windowtext; ';
					strTable+='         padding-left: 1px; ';
					strTable+='         padding-right: 1px; ';
					strTable+='         padding-top: 1px; ';
					strTable+='     } ';

					strTable+=' .BorderHeader { ';
					strTable+='        color: white; ';
					strTable+='         background-color:#0026ff; ';
					strTable+='        font-size: 11.0pt; ';
					strTable+='        text-align: center; ';
					strTable+='        font-style: normal; ';
					strTable+='        text-decoration: none; ';
					strTable+='        font-family: "Times New Roman", serif; ';
					strTable+='        vertical-align: bottom;';
					strTable+='        border-left: .5pt solid windowtext; ';
					strTable+='        border-right: .5pt solid windowtext; ';
					strTable+='        border-top: .5pt solid windowtext; ';
					strTable+='        border-bottom: .5pt solid windowtext; ';
					strTable+='        padding-left: 1px; ';
					strTable+='        padding-right: 1px; ';
					strTable+='        padding-top: 1px; ';
					strTable+='     } ';
					strTable+='  </style> ';
					strTable+=' <table id="testTable"  border="1" frame="hsides" rules="groups" summary="Code page support in different versions of MS Windows."> ';
					strTable+='<tr class="BorderHeader" style="background - color:#0026ff; color:#fff"> ';
					strTable+='<th class="BorderHeader" >Order</th> ';
					strTable+='<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Id </th> ';
					strTable+='<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Employee Code </th> ';
					strTable+='<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Company </th> ';
					strTable+='<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Department </th> ';
					strTable+='<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Position </th> ';
					strTable+='<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Lastname </th> ';
					strTable+='<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Firstname </th> ';
					strTable+='<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Username </th> ';
					strTable+='<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Password </th> ';
					strTable+='<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Sex </th> ';
					strTable+='<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Email </th> ';
					strTable+='<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Phone Number </th> ';
					strTable+='<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Status </th> ';
					strTable+='</tr> ';
					var n=0;
					var currentRow=4;
					for(var i=0;i<itemCount;i++) {
						var vTemp=datas[i];
						currentRow+=1;
						n+=1;
						strTable+='<tr >';
						strTable+='<th class="Border" > '+n+' </th> ';
						strTable+='<th  class="Border" > '+vTemp.id+' </th> ';
						strTable+='<th  class="Border" > '+vTemp.employee_code+' </th> ';
						strTable+='<th  class="Border" > '+vTemp.company_name+' </th> ';
						strTable+='<th  class="Border" > '+vTemp.department_name+' </th> ';
						strTable+='<th  class="Border" > '+vTemp.position_name+' </th> ';
						strTable+='<th  class="Border" > '+vTemp.lastname+' </th> ';
						strTable+='<th  class="Border" > '+vTemp.firstname+' </th> ';
						strTable+='<th  class="Border" > '+vTemp.username+' </th> ';
						strTable+='<th  class="Border" > '+vTemp.password+' </th> ';
						strTable+='<th  class="Border" > '+vTemp.sex+' </th> ';
						strTable+='<th  class="Border" > '+vTemp.email+' </th> ';
						strTable+='<th  class="Border" > '+vTemp.phonenumber+' </th> ';
						strTable+='<th  class="Border" > '+vTemp.status+' </th> ';
						strTable+='</tr>';
					}
					strTable+=' </table> ';
					ExportHtmlToExcel(strTable,'sys_users');
					showNoticeSuccess(language.Message_ExportSuccess);
				}
			</script>