<%- include ('./../helpers/show-menu-user') %>
    <%- include ('./../helpers/customSettings') %>
<% 
    const linkPrefix    = systemConfig.prefixBlog;
	const linkLogin     = linkPrefix + `/auth/login`;
%>
<header>
			
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-6 header-top-left no-padding">
                
                    <ul>
                        <%- showCustomSettings('Icon Header Left',itemsCustomSettings);  %>
                        <!-- <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li> -->
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-6 header-top-right no-padding">
                    <ul>
                        <%- showCustomSettings('Header Right',itemsCustomSettings);  %>  
                        <!-- <li><a href="tel:+440 012 3654 896"><span class="lnr lnr-phone-handset"></span><span>+440 012 3654 896</span></a></li>
                        <li><a href="mailto:support@colorlib.com"><span class="lnr lnr-envelope"></span><span>support@colorlib.com</span></a></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="logo-wrap">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-4 col-md-4 col-sm-12 logo-left no-padding">
                    <%- showCustomSettings('Banner Left - Logo',itemsCustomSettings);  %> 
                    <!-- <a href="index.html">
                        <img class="img-fluid" src="img/logo.png" alt="">
                    </a> -->
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 logo-right no-padding ads-banner">
                    <%- showCustomSettings('Banner Right - Ads',itemsCustomSettings);  %> 
                    <!-- <img class="img-fluid" src="img/banner-ad.jpg" alt=""> -->
                </div>
            </div>
        </div>
    </div>
    <div class="container main-menu" id="main-menu">
        
        <div class="row align-items-center justify-content-between">
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="<%= linkPrefix %>">Home</a></li>
                <% if(typeof itemsCategories !=='undefined' ) { %>
                    <% itemsCategories.forEach((category)=> { %>
                        <% if(category.parent_id==0 ) { %>                
                            <li>
                                <% if(category.viewtype=='view-link' ) { %>
                                    <a href="<%= linkPrefix %>/<%= category.link %>">
                                        <% } else { %>
                                            <a href="<%= linkPrefix %>/categories/<%= category.slug %>-<%= category.id %>">
                                    <% } %>

                                    <%= category.name %>
                                </a>
                                



                                <%var subcategory=itemsCategories.filter(function(categories_A) {%>
                                    <%return categories_A.parent_id==category.id;%>
                                        <%});%>
                                            <% if(subcategory.length>0 ) { %>
                                                <ul>
                                                        <% subcategory.forEach((category_B)=> { %>
                                                            <li>
                                                                    <a href="<%= linkPrefix %>/categories/<%= category_B.slug %>-<%= category_B.id %>">
                                                                        <%= category_B.name %>
                                                                    </a>
                                                                    </li>
                                                                    <%})%>
                                                        </ul>
                                                        <%}%>
                    </li>
                    <%}%>
                        <%})%>
                            <%}%>
                <li><a href="<%= linkPrefix %>/about">About</a></li>
                <li><a href="<%= linkPrefix %>/contact">Contact</a></li>
            
            </ul>
            </nav><!-- #nav-menu-container -->
            <div class="navbar-right">
                <form class="Search"  action="<%= linkPrefix %>/categories/search/all" onsubmit="return changeKeyword()">
                    <input type="text" class="form-control Search-box" name="keyword" id="Search-box" placeholder="Search">
                    <label for="Search-box" class="Search-box-label">
                        <span class="lnr lnr-magnifier"></span>
                    </label>
                    <span class="Search-close">
                        <span class="lnr lnr-cross"></span>
                    </span>
                </form>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        function changeKeyword(){
            let text = $('input[name = keyword]').val();
            text = change_alias_search(text);
            $('input[name="keyword"]').val(text);
            return true;
        }
    </script>
</header>