<aside class="main-sidebar sidebar-dark-info elevation-4">
    <!-- Brand Logo -->
    <a href="https://www.youtube.com/" class="brand-link">
        <img src="admin/images/logo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light">NodeJs Easy</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <% if((typeof userInfo !=='undefined' ) && userInfo) {%>
                    <img src="<%=systemConfig.prefixUrl%>uploads/sys_users/<%= userInfo.avatar %>"
                        class="img-circle elevation-2" alt="User Image">
                    <% } %>
            </div>
            <div class="info">
                <a href="<%= systemConfig.prefixAdmin%>/profile" class="d-block">
                    <% if((typeof userInfo !=='undefined' ) && userInfo) {%>
                        <%= userInfo.firstname %>
                            <%= userInfo.lastname %>
                                <% } %>
                </a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item">
                    <a href="<%= systemConfig.prefixAdmin %>/categories" class="nav-link" data-active="categories">
                        <i class="nav-icon fas fa-user"></i>
                        <p>Categories</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="<%= systemConfig.prefixAdmin %>/articles" class="nav-link" data-active="articles">
                        <i class="nav-icon fas fa-user"></i>
                        <p>Articles</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link" data-active="System">
                        <i class="nav-icon fas fa-book-open"></i>
                        <p>System<i class="fas fa-angle-left right"></i></p>
                    </a>

                    <ul class="nav nav-treeview">

                        <li class="nav-item">
                            <a href="<%= systemConfig.prefixAdmin%>/sys_CustomSettings" class="nav-link"
                                data-active="sys_CustomSettings">
                                <i class="nav-icon fas fa-list-ul"></i>
                                <p>CustomSettings</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="<%= systemConfig.prefixAdmin%>/sys_users" class="nav-link" data-active="sys_users">
                                <i class="nav-icon fas fa-list-ul"></i>
                                <p>User</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="<%= systemConfig.prefixAdmin%>/sys_companies" class="nav-link"
                                data-active="sys_companies">
                                <i class="nav-icon fas fa-list-ul"></i>
                                <p>Company</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="<%= systemConfig.prefixAdmin%>/sys_departments" class="nav-link"
                                data-active="sys_departments">
                                <i class="nav-icon fas fa-list-ul"></i>
                                <p>Department</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="<%= systemConfig.prefixAdmin%>/sys_positions" class="nav-link"
                                data-active="sys_positions">
                                <i class="nav-icon fas fa-list-ul"></i>
                                <p>Position</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="<%= systemConfig.prefixAdmin%>/sys_roles" class="nav-link" data-active="sys_roles">
                                <i class="nav-icon fas fa-list-ul"></i>
                                <p>Role</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="<%= systemConfig.prefixAdmin%>/sys_permissions" class="nav-link"
                                data-active="sys_permissions">
                                <i class="nav-icon fas fa-list-ul"></i>
                                <p>Permission</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="<%= systemConfig.prefixAdmin%>/sys_function_for_permissions" class="nav-link"
                                data-active="sys_function_for_permissions">
                                <i class="nav-icon fas fa-list-ul"></i>
                                <p>Function For Permissions</p>
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a href="<%= systemConfig.prefixAdmin%>/contact" class="nav-link"
                                data-active="contact">
                                <i class="nav-icon fas fa-list-ul"></i>
                                <p>Contact</p>
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a href="<%= systemConfig.prefixAdmin%>/systemlogs" class="nav-link"
                                data-active="systemlogs">
                                <i class="nav-icon fas fa-list-ul"></i>
                                <p>System log</p>
                            </a>
                        </li>

                    </ul>
                </li>


                <li class="nav-item">
                    <a href="<%= systemConfig.prefixAdmin %>/Help.docx" class="nav-link" data-active="Help.docx">
                        <i class="nav-icon fas fa-users"></i>
                        <p>Help</p>
                    </a>
                </li>


                <li class="nav-item">
                    <a href="<%= systemConfig.prefixAdmin %>/auth/formchangepassword" class="nav-link"
                        data-active="auth">
                        <i class="nav-icon fas fa-user"></i>
                        <p>Change Password</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="<%= systemConfig.prefixAdmin %>/auth/logout" class="nav-link">
                        <i class="nav-icon fas fa-user"></i>
                        <p>Log out</p>
                    </a>
                </li>



            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>