<%- include ('./../helpers/pagination') %>
<%
	const collection = "contact";
	const linkPrefix = systemConfig.prefixAdmin + `/${collection}/`; 
%>
<%- include ('./../elements/notify') %>
<div class="container-fluid">
	<input name="linkPrefix" id="linkPrefix" type="hidden" value="<%= linkPrefix %>">
	<input name="params" id="params" type="hidden" value="<%= params %>">
	<div class="card card-info card-outline">
		<div class="card-header">
			 <h6 class="card-title">Form</h6>
			<div class="card-tools">
				<button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
					<i class="fas fa-minus"></i>
				</button>
			</div>
		</div>
		<div class="card-body" style="display: block;">
			<form role="form" name="formcontact" id="formcontact"  action =" <%= linkPrefix %>searchGet" method="get">
				<div class="form-group row">
					<label id="labid" class="col-sm-2 col-form-label text-sm-right ">Id</label>
					<div class="col-xs-2 col-sm-2">
						<input type="number" readonly name="id"  id="id" value="<%= item.id %>" class="form-control form-control-sm">
					</div>
					<label id="labfullname" class="col-sm-2 col-form-label text-sm-right ">Fullname</label>
					<div class="col-xs-2 col-sm-2">
						<input type="text"  name="fullname"  id="fullname"  value="<%= item.fullname %>" class="form-control form-control-sm">
					</div>
					<label id="labemail" class="col-sm-2 col-form-label text-sm-right ">Email</label>
					<div class="col-xs-2 col-sm-2">
						<input type="text"  name="email"  id="email"  value="<%= item.email %>" class="form-control form-control-sm">
					</div>
					<label id="labphone" class="col-sm-2 col-form-label text-sm-right ">Phone</label>
					<div class="col-xs-2 col-sm-2">
						<input type="text"  name="phone"  id="phone"  value="<%= item.phone %>" class="form-control form-control-sm">
					</div>
					<label id="labcontent_message" class="col-sm-2 col-form-label text-sm-right required">Content Message</label>
					<div class="col-xs-2 col-sm-2">
						<input type="text"  name="content_message"  id="content_message"  value="<%= item.content_message %>" class="form-control form-control-sm">
					</div>
					<label id="labdone_processing" class="col-sm-2 col-form-label text-sm-right ">Done Processing</label>
					<div class="col-xs-2 col-sm-2">
						<input type="checkbox"  name="done_processing"  id="done_processing" class="form-control form-control-sm form-control-checkbox">
					</div>
				</div>
				<div class="form-group row">
					<div class="col-xs-2 col-sm-2"></div>
					<div class="col-xs-10 col-sm-10">						
						&nbsp; <button type="button" id = "btnUpdate" class="btn-sm btn-primary" title="Update">
							<i class="fa fa-save"></i> Update
						</button>
						&nbsp; <button type="button" id = "btnDelete" class="btn-sm btn-danger" title="Delete">
							<i class="fas fa-trash-alt"></i> Delete
						</button>
						&nbsp; <button type="button" id = "btnSearchPost" class="btn-sm btn-info" title="Search">
							<i class="fa fa-search"></i> Search
						</button>
						&nbsp; <button type="submit" id = "btnSearchGet" class="btn-sm btn-warning" title="Search Get">
							<i class="fa fa-search"></i> Search Get
						</button>
						&nbsp; <button type="button" id = "btnExport" class="btn-sm btn-success" title="Export">
							<i class="fa fa-download"></i> Export
						</button>
						&nbsp; <button type="button" id="btnRefreshPage" class="btn-sm btn-warning" title="Refresh" onclick="RefreshPage()">
							<i class="fa fa-refresh"></i> Refresh
						</button>
					</div>
				</div>
				<div class="form-group row">
					<div class = "text-success" id = "divMessage"></div>
				</div>
						<input name="idHidden" id="idHidden" type="hidden">
			</form>
						<input name="listData" id="listData" type="hidden" value="<%= itemString %>">
						<input name="sysLanguage" id="sysLanguage" type="hidden" value="<%= language %>">
		
		</div>
	</div>
	<div class="card card-info card-outline">
		<div class="card-header">
			<h4 class="card-title">List data &nbsp;</h4>
			<!-- //===========================================-->
			<div class="button-group card-title">
				<button type="button" class="btn btn-default btn-sm dropdown-toggle"
					data-toggle="dropdown">
					<span class="fas fa-cog"></span>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" style="width: 300px;">
					<li>
						<a href="#" class="small" data-value="id" tabIndex="-1">
							<input type="checkbox" id="ckhShowColumnid" />&nbsp;
							<label id="labid_CheckboxShow">Id </label>
						</a> &nbsp; &nbsp;
						<a href="#" class="small" data-value="fullname" tabIndex="-1">
							<input type="checkbox" id="ckhShowColumnfullname" />&nbsp;
							<label id="labfullname_CheckboxShow">Fullname </label>
						</a>
					</li>
					<li>
						<a href="#" class="small" data-value="email" tabIndex="-1">
							<input type="checkbox" id="ckhShowColumnemail" />&nbsp;
							<label id="labemail_CheckboxShow">Email </label>
						</a> &nbsp; &nbsp;
						<a href="#" class="small" data-value="phone" tabIndex="-1">
							<input type="checkbox" id="ckhShowColumnphone" />&nbsp;
							<label id="labphone_CheckboxShow">Phone </label>
						</a>
					</li>
					<li>
						<a href="#" class="small" data-value="content_message" tabIndex="-1">
							<input type="checkbox" id="ckhShowColumncontent_message" />&nbsp;
							<label id="labcontent_message_CheckboxShow">Content Message </label>
						</a> &nbsp; &nbsp;
						<a href="#" class="small" data-value="done_processing" tabIndex="-1">
							<input type="checkbox" id="ckhShowColumndone_processing" />&nbsp;
							<label id="labdone_processing_CheckboxShow">Done Processing </label>
						</a>
					</li>
				</ul>
			</div>
			<!-- //=========================================================== -->
			<div class="card-tools">
				<button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fas fa-minus"></i></button>
			</div>
		</div>
		<div class="card-body">
			<table id="tablecontact" class="table table-bordered table-hover btn-table mb-0">
				<thead>
					<tr>
						<th class="text-center">
							<div class="custom-control custom-checkbox">
								<input class="custom-control-input cbAll" type="checkbox" id="check-all">
								<label for="check-all" class="custom-control-label"></label>
							</div>
						</th>
						<th class="text-center" data-sort="" data-column="id" class="columnHeader" onclick="sortByColumn(this)">
							<label id="labid_tb">
								Id <i class="fa fa-fw" data-column="id"></i>
							</label>
						</th>
						<th class="text-center" data-sort="" data-column="fullname" class="columnHeader" onclick="sortByColumn(this)">
							<label id="labfullname_tb">
								Fullname <i class="fa fa-fw" data-column="fullname"></i>
							</label>
						</th>
						<th class="text-center" data-sort="" data-column="email" class="columnHeader" onclick="sortByColumn(this)">
							<label id="labemail_tb">
								Email <i class="fa fa-fw" data-column="email"></i>
							</label>
						</th>
						<th class="text-center" data-sort="" data-column="phone" class="columnHeader" onclick="sortByColumn(this)">
							<label id="labphone_tb">
								Phone <i class="fa fa-fw" data-column="phone"></i>
							</label>
						</th>
						<th class="text-center" data-sort="" data-column="content_message" class="columnHeader" onclick="sortByColumn(this)">
							<label id="labcontent_message_tb">
								Content Message <i class="fa fa-fw" data-column="content_message"></i>
							</label>
						</th>
						<th class="text-center" data-sort="" data-column="done_processing" class="columnHeader" onclick="sortByColumn(this)">
							<label id="labdone_processing_tb">
								Done Processing <i class="fa fa-fw" data-column="done_processing"></i>
							</label>
						</th>
						<th class="text-center">Action</a></th>
					</tr>
				</thead>
				<tbody id="bodyTablecontact">
					<tr>
						<th class="text-center"></a></th>
						<th class="text-center"></a></th>
						<th class="text-center"></a></th>
						<th class="text-center"></a></th>
						<th class="text-center"></a></th>
						<th class="text-center"></a></th>
						<th class="text-center"></a></th>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-xs-1 col-sm-1">Quantity per page:</div>
		<div class="col-xs-1 col-sm-1">
			<input type="number" class="form-control form-control-sm" name="numberItemPerPage" id="numberItemPerPage" size="4">
		</div>
		<div class="col-xs-9 col-sm-9" id="paginationcontact">
		</div>
	</div>
</div>
<script type="application/javascript">
var language = {};
var listData;
var linkPrefix=$('#linkPrefix').val();
var idMainTable="tablecontact";
setSelectedColumnToShowInterface(idMainTable);

onLoadData();
function onLoadData(){
	getLanguage();
	setUpdateButtonStatus(false)
	setInterfaceText();
	getNumberItemPerPage();
	var strData = $('#listData').val();
	listData = JSON.parse(strData);
	if(listData.length>0){
		displayDataToTable();
		var paramsString = $('#params').val();
		const params = JSON.parse(paramsString);
		paginationHelper(params.pagination, "contact", params.currentStatus, params.keyword,linkPrefix,  "paginationcontact");
	}
}

function displayDataToTable(){
	sortDataJson();
	showAllColumnInTable(idMainTable);
	var table = document.getElementById("bodyTablecontact");
	var lengthtable= table.rows.length-1;
	for(var n = lengthtable; n >= 0; n--) {
		table.deleteRow(n);
	}
	var length = listData.length;
	if(length <1 ) {
		showNoticeDanger(language.Message_NotFoundData);
		return false;
	}

	listData.forEach(function(data) {
		var row = table.insertRow(0);
		var cell0 = row.insertCell(0);
		var cell1 = row.insertCell(1);
		var cell2 = row.insertCell(2);
		var cell3 = row.insertCell(3);
		var cell4 = row.insertCell(4);
		var cell5 = row.insertCell(5);
		var cell6 = row.insertCell(6);
		var cell7 = row.insertCell(7);
		let check= `<div class="custom-control custom-checkbox"> 
				<input class="custom-control-input" type="checkbox" name="chkListData" id="${data.id}" value="${data.id}">
				<label for="${data.id}" class="custom-control-label"></label>
			</div>`;
		cell0.innerHTML = check;
		cell1.innerHTML = data.id;
		cell2.innerHTML = data.fullname;
		cell3.innerHTML = data.email;
		cell4.innerHTML = data.phone;
		cell5.innerHTML = data.content_message;
		cell6.innerHTML = data.done_processing;
		let strbutton = " <a  onclick=\"getById('"+data.id+"')\" type=\"button\" class=\"rounded-circle btn btn-sm btn-info\" title=\"Edit\">" +
			"<i class=\"fas fa-pencil-alt\"></i>" + 
			"</a> " + 
			" <button type=\"button\" class=\"rounded-circle btn btn-sm btn-danger\" data-id=\""+data.id+"\" title=\"Delete\"  onclick=\"deleteById(this,"+data.id+",'" + data.fullname + "')\">";
			strbutton += " <i class=\"fas fa-trash-alt\"></i> ";
		strbutton += " </ button > ";
		cell7.innerHTML = strbutton;
	});
	hideColumnInTable(idMainTable);
}
function setUpdateButtonStatus(statusUpdate){	
	$('#btnSave').prop('hidden', statusUpdate);
	$('#btnUpdate').prop('hidden', !statusUpdate);
}

function getLanguage(){
	var languageString = $('#sysLanguage').val();	
	language = JSON.parse(languageString);
}

function setInterfaceText(){
	$("#pageTitle").html(language.TitlePage);
	$("#labid").text(language.id);
	$("#labfullname").text(language.fullname);
	$("#labemail").text(language.email);
	$("#labphone").text(language.phone);
	$("#labcontent_message").text(language.content_message);
	$("#labdone_processing").text(language.done_processing);

	$("#labid_tb").html(language.id+"<i class=\"fa fa-fw\" data-column=\"id\"></i>");
	$("#labfullname_tb").html(language.fullname+"<i class=\"fa fa-fw\" data-column=\"fullname\"></i>");
	$("#labemail_tb").html(language.email+"<i class=\"fa fa-fw\" data-column=\"email\"></i>");
	$("#labphone_tb").html(language.phone+"<i class=\"fa fa-fw\" data-column=\"phone\"></i>");
	$("#labcontent_message_tb").html(language.content_message+"<i class=\"fa fa-fw\" data-column=\"content_message\"></i>");
	$("#labdone_processing_tb").html(language.done_processing+"<i class=\"fa fa-fw\" data-column=\"done_processing\"></i>");

	$("#labid_CheckboxShow").text(language.id);
	$("#labfullname_CheckboxShow").text(language.fullname);
	$("#labemail_CheckboxShow").text(language.email);
	$("#labphone_CheckboxShow").text(language.phone);
	$("#labcontent_message_CheckboxShow").text(language.content_message);
	$("#labdone_processing_CheckboxShow").text(language.done_processing);
}

function getById(Id){
	var link = linkPrefix + 'getById/'+Id;
	$.ajax({
		type: 'GET',
		url: link,
		dataType: "json",
		success: function(resultdata){
			var success = resultdata.success;
			if(success == true){
				showDataToForm(resultdata.data);
			}
		},
		failure: function (response) {
			alert(language.Message_GetItemByIdError);
		},
		error: function (response) {
			alert(language.Message_GetItemByIdError);
		},
	});
}

function showDataToForm(data){
	try{
		setUpdateButtonStatus(true);

		$('#idHidden').val(data.id);
		$('#id').val(data.id);
		$('#fullname').val(data.fullname);
		$('#email').val(data.email);
		$('#phone').val(data.phone);
		$('#content_message').val(data.content_message);
		if((data.done_processing == "true") || (data.done_processing == true) || (data.done_processing == "active")|| (data.done_processing == "yes")|| (data.done_processing == "1"))
			$("#done_processing").prop("checked", true);
		else $("#done_processing").prop("checked", false);
	}
	catch(error){}
}

function clearForm(){
	try{
		$('#idHidden').val('');
		setUpdateButtonStatus(false)
		$('#id').val('');
		$('#fullname').val('');
		$('#email').val('');
		$('#phone').val('');
		$('#content_message').val('');
	}
	catch(error){}
}

$('#btnSearchPost').click(function(){
	$(this).prop('disabled', true);
	getContentPages(1);
});

function getContentPages(page){
	var sortStorage=getSortType(linkPrefix);
	let data = {
		fullname : $('#fullname').val(),
		email : $('#email').val(),
		phone : $('#phone').val(),
		content_message : $('#content_message').val(),
		Page : page,
		sortColumn: sortStorage.sortColumn,
		sortType: sortStorage.sortType,
		numberItemPerPage: $('#numberItemPerPage').val()
	}
	var link = linkPrefix + 'search';
	$.ajax({
		type: 'POST',
		url: link,
		data: data,
		dataType: "json",
		success: function(resultdata){
			$('#btnSearchPost').prop('disabled', false);
			listData = resultdata.data;
			displayDataToTable();
			let params = resultdata.params;
			paginationHelper(params.pagination, "contact", "", "", linkPrefix, "paginationcontact");

			if(params.pagination.totalItems > 0 ) {
				var message = language.Message_Find + params.pagination.totalItems + language.Message_Words_records;
				showNoticeSuccess(message);
			}
		},
		failure: function (response) {
			$('#btnSearchPost').prop('disabled', false);
			showNoticeDanger('Search Error');
		},
		error: function (response) {
			$('#btnSearchPost').prop('disabled', false);
			showNoticeDanger('Search Error');
		}
	});
	$('#btnSearchPost').prop('disabled', false);
}

$('#btnSave').click(function(){
	$(this).prop('disabled', true);
	saveInsert();
});

$('#btnSaveAs').click(function(){
	$(this).prop('disabled', true);
	$('#idHidden').val('');
	$('#id').val('');
	saveInsert();
	$(this).prop('disabled', false);
});

function chekValueAndSubmit(){
	if(($('#content_message').val().length < 1) || ($('#content_message').val().length > 2000)) {
		var message = formatMessage(language.content_message + ": "+ language.Message_Invalid_content_message, '1','2000');
		alert(message);
		return false;
	}
	let done_processing= $('#done_processing').is(":checked")? 1:0;
	$('#done_processing').val(done_processing);
	document.getElementById("formcontact").submit();
}

function getDataForm(){
	if(($('#content_message').val().length < 1) || ($('#content_message').val().length > 2000)) {
		var message = formatMessage(language.content_message + ": "+ language.Message_Invalid_content_message, '1','2000');
		alert(message);
		return false;
	}
	return {
		'idHidden' : $('#idHidden').val(),
		'id' : $('#id').val(),
		'fullname' : $('#fullname').val(),
		'email' : $('#email').val(),
		'phone' : $('#phone').val(),
		'content_message' : $('#content_message').val(),
		'done_processing' : $('#done_processing').is (":checked")?1:0,
	}
}

function saveInsert(){
	let data = getDataForm();
	if(data == false) {
		$('#btnSave').prop('disabled', false);
		return false;
	}
	var link = linkPrefix + 'save';
	$.ajax({
		type: 'post',
		url: link,
		data: data,
		dataType: "json",
		success: function(response){
			var success = response.success;
			var result 	= response.data;
			if((success == 'false') || (success == false))
				showNoticeDanger(language.Message_AddNewError + ' ('+response.message+')');
			else if((success != true) && (success != 'true'))
				showNoticeDanger(result.message);
			else {
				insertRow(result.data);
				clearForm();
			}
		},
		failure: function (response) {
			showErrorMessageSave(response, language.Message_AddNewError);
		},
		error: function (response) {
			showErrorMessageSave(response, language.Message_AddNewError);
		},
	});
	$('#btnSave').prop('disabled', false);
}

function insertRow(data){
	showAllColumnInTable(idMainTable);
	showNoticeSuccess(language.Message_AddNewSuccess);
	var table = document.getElementById("bodyTablecontact");
	var row = table.insertRow(0);
	var cell0 = row.insertCell(0);
	var cell1 = row.insertCell(1);
	var cell2 = row.insertCell(2);
	var cell3 = row.insertCell(3);
	var cell4 = row.insertCell(4);
	var cell5 = row.insertCell(5);
	var cell6 = row.insertCell(6);
	var cell7 = row.insertCell(7);
	let check= `<div class="custom-control custom-checkbox"> 
					<input class="custom-control-input" type="checkbox" name="chkListData" id="${data.id}" value="${data.id}">
					<label for="${data.id}" class="custom-control-label"></label>
				</div>`;
	cell0.innerHTML = check;
	cell1.innerHTML = data.id;
	cell2.innerHTML = data.fullname;
	cell3.innerHTML = data.email;
	cell4.innerHTML = data.phone;
	cell5.innerHTML = data.content_message;
	cell6.innerHTML = data.done_processing;
	let strbutton = " <a  onclick=\"getById('"+data.id+"')\" type=\"button\" class=\"rounded-circle btn btn-sm btn-info\" title=\"Edit\">" +
		"<i class=\"fas fa-pencil-alt\"></i>" + 
		"</a> " + 
		" <button type=\"button\" class=\"rounded-circle btn btn-sm btn-danger\" data-id=\""+data.id+"\" title=\"Delete\"  onclick=\"deleteById(this,"+data.id+",'" + data.fullname + "')\">";
	strbutton += " <i class=\"fas fa-trash-alt\"></i> ";
	strbutton += " </ button > ";
	cell7.innerHTML = strbutton;
	hideColumnInTable(idMainTable);
}

$('#btnUpdate').click(function(){
	$(this).prop('disabled', true);
	saveUpdate();
});

function saveUpdate(){
	let data = getDataForm();
	if(data == false) {
		$('#btnUpdate').prop('disabled', false);
		return false;
	}
	if(data.idHidden == ""){
		$('#btnUpdate').prop('disabled', false);
		showNoticeDanger(language.Message_HaveNotSelectedItemUpdate);
		return false;
	}
	var link = linkPrefix + 'update';
	$.ajax({
		type: 'put',
		url: link,
		data: data,
		dataType: "json",
		success: function(response){
			var success = response.success;
			var result 	= response.data;
			if((success == 'false') || (success == false) ){
				showNoticeDanger(language.Message_UpdateError);
				return false;
			}
			else if((success != true) && (success != 'true')){
				showNoticeDanger(result.message);
				return false;
			}
			else {
				updateRow(result.data);
				clearForm();
			}
		},
		failure: function (response) {
			showErrorMessageSave(response, language.Message_UpdateError);
		},
		error: function (response) {
			showErrorMessageSave(response, language.Message_UpdateError);
		}
	});
	$('#btnUpdate').prop('disabled', false);
}

function updateRow(data){
	showNoticeSuccess(language.Message_UpdateSuccess);
	showAllColumnInTable(idMainTable);

	var row = $("#tablecontact button[data-id='" + data.id + "']").parents("tr")[0];
	var tr = "<tr>"+
		"<td class=\"text-center\">" +
			"<div class=\"custom-control custom-checkbox\">"+ 
				"<input class=\"custom-control-input\" type=\"checkbox\" name=\"chkListData\" id=\"" + data.id + "\" value=\"" + data.id + "\"> "+
				"<label for=\"" + data.id + "\" class=\"custom-control-label\"></label> "+
			"</div>"+
		"</td>";
		tr +=  "<td class=\"text-center\">" + data.id + "</td>";
		tr +=  "<td class=\"text-center\">" + data.fullname + "</td>";
		tr +=  "<td class=\"text-center\">" + data.email + "</td>";
		tr +=  "<td class=\"text-center\">" + data.phone + "</td>";
		tr +=  "<td class=\"text-center\">" + data.content_message + "</td>";
		tr +=  "<td class=\"text-center\">" + data.done_processing + "</td>";
		tr += "<td class=\"text-center\">" +
			" <a  onclick=\"getById('"+data.id+"')\" type=\"button\" class=\"rounded-circle btn btn-sm btn-info\" title=\"Edit\">" +
				" <i class=\"fas fa-pencil-alt\"></i>" +
			" </a>" +
			" <button type=\"button\" class=\"rounded-circle btn btn-sm btn-danger\" data-id=\""+data.id+"\" title=\"Delete\"  onclick=\"deleteById(this,'"+data.id+"','"+data.fullname+"')\">" +
				" <i class=\"fas fa-trash-alt\"></i> " +
			" </button> " +
		" </td>" +
	" </tr>";
	$(row).after(tr);
	$(row).remove();
	hideColumnInTable(idMainTable);
}
function deleteById(row, objectId, objectName){
	var message=language.Message_DoYouWantToDeleteById + ' '+ objectId +' ('+objectName+')? ';
	var answer = confirm(message)
	if (!answer){	return false; } 
	let data = {
		'id' : objectId
	};
	var link = linkPrefix+'deleteById';
	$.ajax({
		type	: 'delete',
		url		: link,
		data	: data,
		dataType: "json",
		success	: function(resultdata){
			var success = resultdata.success;
			var message = resultdata.message;
			var notice 	= {};
			if((success == 'true') || (success == true)){
				showNoticeSuccess(language.Message_DeleteSuccess);
				var i = row.parentNode.parentNode.rowIndex;
				document.getElementById("tablecontact").deleteRow(i);
				return true;
			}
			else if((success=='false')||(success==false)) {
				showNoticeDanger(language.Message_DeleteFail);
				return false;
			}
			else if(message.length > 10){
				showNoticeDanger(message);
				return false;
			}
			else {
				showNoticeDanger(language.Message_DeleteFail);
				return false;
			}
		},
		failure: function (response) {
			showNoticeDanger(language.Message_DeleteFail);
		},
		error: function (response) {
			showNoticeDanger(language.Message_DeleteFail);
		}
	});
}

$('#btnDelete').click(function(){
	$(this).prop('disabled', true);
	deleteList();
	$(this).prop('disabled', false);
});
function deleteList(){
	var arrayId = [];
	var listId 	= " ";
	$("input:checkbox[name=chkListData]:checked").each(function(){
		arrayId.push($(this).val());
		listId += $(this).val() + ',';
	});
	let message =  language.Message_DoYouWantToDeleteInTheList  +' '+ listId+'?';
	var answer = confirm(message)
	if (!answer){	return false; } 
	let data = { arrayId };
	var link = linkPrefix+'deleteList';
	$.ajax({
		type	: 'delete',
		url		: link,
		data	: data,
		dataType: "json",
		success	: function(resultdata){
			var result = resultdata.data;
			var success = result.success;
			var message = result.message;
			if((success == 'true') || (success == true)){
				let deleteSuccess = result.deleteSuccess;
				let deleteError = result.deleteError;
				if(deleteSuccess.length > 0){
					let message = language.Message_DeleteSuccess;
					message += " "+ deleteSuccess.toString();
					if(deleteError.length > 0){
						message += " \n"+  language.Message_DeleteFail + " "+ deleteError.toString();
					}
					showNoticeSuccess(message);
					deleteRows(arrayId,"bodyTablecontact");
					return true;
				}
				else if(deleteError.length > 0){
					let message = language.Message_DeleteFail + " "+ deleteError.toString();
					showNoticeDanger(message);
				}
				else{
					showNoticeDanger(language.Message_DeleteFail);
				}
			}
			else if((success == 'false') || (success == false)){
				showNoticeDanger(language.Message_DeleteFail);
				return false;
			}
		},
		failure: function (response) {
			showNoticeDanger(language.Message_DeleteFail);
		},
		error: function (response) {
			showNoticeDanger(language.Message_DeleteFail);
		}
	});
}

$('#btnExport').click(function(){
	$(this).prop('disabled', true);
	exportData();
	$(this).prop('disabled', false);
});

function exportData(){
	let data = {
		'fullname' : $('#fullname').val(),
		'email' : $('#email').val(),
		'phone' : $('#phone').val(),
		'content_message' : $('#content_message').val(),
	}
	var link = linkPrefix + 'exportData';
	$.ajax({
		type: 'post',
		url: link,
		data: data,
		dataType: "json",
		success: function(resultdata){
			$('#btnExport').prop('disabled', false);
			let result = resultdata.data;
			showNoticeSuccess(language.Message_CompletedGetData);
			ExportToExcel(result);
		},
		failure: function (response) {
			$('#btnExport').prop('disabled', false);
			showNoticeDanger('Export Error');
		},
		error: function (response) {
			$('#btnExport').prop('disabled', false);
			showNoticeDanger('Export Error');
		}
	});
	$('#btnExport').prop('disabled', false);
}

function ExportToExcel(datas){
	let itemCount = datas.length; 
	if(itemCount > 1000) {
		showNoticeDanger(language.Message_WarningWhenExportingDataTooMuch);
	}
	if(itemCount < 1) {
		showNoticeDanger(language.Message_NotFoundData);
	}
	var strTable = '<style type="text/css">';
	strTable += ' .Border { ';
	strTable += '         color: windowtext; ';
	strTable += '         font-size: 11.0pt; ';
	strTable += '         word-break:break-all;';
	strTable += '         font-style: normal; ';
	strTable += '         text-decoration: none; ';
	strTable += '         font-family: "Times New Roman", serif; ';
	strTable += '         text-align: left; ';
	strTable += '         vertical-align: bottom;';
	strTable += '         border-left: .5pt solid windowtext; ';
	strTable += '         border-right: .5pt solid windowtext; ';
	strTable += '         border-top: .5pt solid windowtext; ';
	strTable += '         border-bottom: .5pt solid windowtext; ';
	strTable += '         padding-left: 1px; ';
	strTable += '         padding-right: 1px; ';
	strTable += '         padding-top: 1px; ';
	strTable += '     } ';

	strTable += ' .BorderHeader { ';
	strTable += '        color: white; ';
	strTable += '         background-color:#0026ff; ';
	strTable += '        font-size: 11.0pt; ';
	strTable += '        text-align: center; ';
	strTable += '        font-style: normal; ';
	strTable += '        text-decoration: none; ';
	strTable += '        font-family: "Times New Roman", serif; ';
	strTable += '        vertical-align: bottom;';
	strTable += '        border-left: .5pt solid windowtext; ';
	strTable += '        border-right: .5pt solid windowtext; ';
	strTable += '        border-top: .5pt solid windowtext; ';
	strTable += '        border-bottom: .5pt solid windowtext; ';
	strTable += '        padding-left: 1px; ';
	strTable += '        padding-right: 1px; ';
	strTable += '        padding-top: 1px; ';
	strTable += '     } ';
	strTable += '  </style> ';
	strTable += ' <table id="testTable"  border="1" frame="hsides" rules="groups" summary="Code page support in different versions of MS Windows."> ';
	strTable += '<tr class="BorderHeader" style="background - color:#0026ff; color:#fff"> ';
	strTable += '<th class="BorderHeader" >Order</th> ';
	strTable += '<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Id </th> ';
	strTable += '<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Fullname </th> ';
	strTable += '<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Email </th> ';
	strTable += '<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Phone </th> ';
	strTable += '<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Content Message </th> ';
	strTable += '<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Done Processing </th> ';
	strTable += '</tr> ';
	var n = 0;
	var currentRow = 4;
	for(var i = 0; i < itemCount; i++) {
		var vTemp = datas[i];
		currentRow += 1;
		 n += 1;
		strTable += '<tr >';
		strTable += '<th class="Border" > ' + n + ' </th> ';
		 strTable += '<th  class="Border" > ' + vTemp.id + ' </th> ';
		 strTable += '<th  class="Border" > ' + vTemp.fullname + ' </th> ';
		 strTable += '<th  class="Border" > ' + vTemp.email + ' </th> ';
		 strTable += '<th  class="Border" > ' + vTemp.phone + ' </th> ';
		 strTable += '<th  class="Border" > ' + vTemp.content_message + ' </th> ';
		 strTable += '<th  class="Border" > ' + vTemp.done_processing + ' </th> ';
		strTable += '</tr>';
	}
	strTable += ' </table> ';
	ExportHtmlToExcel(strTable, 'contact');
	showNoticeSuccess(language.Message_ExportSuccess);
}

</script>
