<%- include ('./../helpers/pagination') %>
	<% const collection="categories" ; const linkPrefix=systemConfig.prefixAdmin + `/${collection}/`; %>
		<%- include ('./../elements/notify') %>
			<div class="container-fluid">
				<input name="linkPrefix" id="linkPrefix" type="hidden" value="<%= linkPrefix %>">
				<input name="params" id="params" type="hidden" value="<%= params %>">
				&nbsp; &nbsp; <button type="button" id="btnOpenMainModalForm" class="btn btn-primary">
					<i class="fas fa-plus"></i> Add new
				</button>
				&nbsp; <button type="button" id="btnDelete" class="btn-sm btn-danger" title="Delete">
					<i class="fas fa-trash-alt"></i> Delete
				</button>
				&nbsp; <button type="button" id="btnSearchPost_OpenForm" class="btn-sm btn-info" title="Search">
					<i class="fa fa-search"></i> Search
				</button>

				&nbsp; <button type="button" id="btnExport_OpenForm" class="btn-sm btn-success" title="Export">
					<i class="fa fa-download"></i> Export
				</button>

				&nbsp; <button type="button" id="btnRefreshPage" class="btn-sm btn-warning" title="Refresh"
					onclick="RefreshPage()">
					<i class="fa fa-refresh"></i> Refresh
				</button>

				<!-- ================ Modal From ===================================================================== -->
				<div class="modal fade" id="modaMainForm" data-backdrop="static" data-keyboard="true" tabindex="- 1"
					role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-xl" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Add New & Edit</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form role="form" name="formcategories" id="formcategories" autocomplete="off"
									enctype="multipart/form-data" action=" <%= linkPrefix %>save" method="post">
									<div class="form-group row">
										<label id="labid" class="col-sm-2 col-form-label text-sm-right ">Id</label>
										<div class="col-xs-4 col-sm-4">
											<input type="number" readonly name="id" id="id" value="<%= item.id %>"
												class="form-control form-control-sm">
										</div>
										<label id="labparent_id" class="col-sm-2 col-form-label text-sm-right ">Parent
											Categories</label>
										<div class="col-xs-4 col-sm-4">
											<div class="dropdown">
												<div id="divDropdownCategorieParent_Name" class="dropdown-content">
													<input type="text" size="75" id="CategorieParent_Name"
														name="CategorieParent_Name"
														onkeyup="filterSelectBox('CategorieParent_Name')"
														onfocus="focusDropdown('CategorieParent_Name')"
														onblur="blurDropdown('CategorieParent_Name')"
														class="form-control form-control-sm">
													<input id="parent_id" name="parent_id" type="hidden">
													<div id="DivContenCategorieParent_Name" class="Divdropdown-content">
													</div>
												</div>
											</div>
										</div>
										<label id="labname"
											class="col-sm-2 col-form-label text-sm-right required">Name</label>
										<div class="col-xs-4 col-sm-4">
											<input type="text" name="name" id="name" value="<%= item.name %>"
												class="form-control form-control-sm">
										</div>
										<label id="labslug" class="col-sm-2 col-form-label text-sm-right ">Slug</label>
										<div class="col-xs-4 col-sm-4">
											<input type="text" name="slug" id="slug" value="<%= item.slug %>"
												class="form-control form-control-sm">
										</div>
										<label id="labthumbnail"
											class="col-sm-2 col-form-label text-sm-right ">Thumbnail</label>
										<div class="col-xs-4 col-sm-4">
											<input type="file" name="thumbnail" id="thumbnail"
												class="form-control form-control-sm">
											<input type="hidden" name="thumbnail_old" id="thumbnail_old"
												value="<%= item.thumbnail %>">
										</div>
										<label id="labviewtype" class="col-sm-2 col-form-label text-sm-right ">View
											Type</label>
										<div class="col-xs-4 col-sm-4">
											<select id="viewtype" name="viewtype"
												class="custom-select custom-select-sm">
												<option value="novalue">Choose View Type</option>
												<option value="view-list" <%=(item.ViewType=="view-list" )
													? 'selected="selected"' : '' %> >View list</option>
												<option value="view-thumb" <%=(item.ViewType=="view-thumb" )
													? 'selected="selected"' : '' %> >View thumb</option>
												<option value="view-link" <%=(item.ViewType=="view-link" )
													? 'selected="selected"' : '' %> >View a link</option>
											</select>
										</div>

										<label id="labzone" class="col-sm-2 col-form-label text-sm-right ">Zone</label>
										<div class="col-xs-4 col-sm-4">
											<select id="zone" name="zone" class="custom-select custom-select-sm">
												<option value="novalue">Choose a zone</option>
												<option value="Top" <%=(item.zone=="Top" ) ? 'selected="selected"' : ''
													%> >Top</option>
												<option value="Left" <%=(item.zone=="Left" ) ? 'selected="selected"'
													: '' %> >Left</option>
												<option value="Right" <%=(item.zone=="Right" ) ? 'selected="selected"'
													: '' %> >Right</option>
												<option value="Bottom" <%=(item.zone=="Bottom" ) ? 'selected="selected"'
													: '' %> >Bottom</option>

												<option value="Zone 1" <%=(item.zone=="Zone 1" ) ? 'selected="selected"'
													: '' %> >Zone 1</option>
												<option value="Zone 2" <%=(item.zone=="Zone 2" ) ? 'selected="selected"'
													: '' %> >Zone 2</option>
												<option value="Zone 3" <%=(item.zone=="Zone 3" ) ? 'selected="selected"'
													: '' %> >Zone 3</option>
												<option value="Zone 4" <%=(item.zone=="Zone 4" ) ? 'selected="selected"'
													: '' %> >Zone 4</option>
												<option value="Zone 5" <%=(item.zone=="Zone 5" ) ? 'selected="selected"'
													: '' %> >Zone 5</option>
												<option value="Zone 6" <%=(item.zone=="Zone 6" ) ? 'selected="selected"'
													: '' %> >Zone 6</option>

											</select>
										</div>

										<label id="labis_show_homepage"
											class="col-sm-2 col-form-label text-sm-right ">Show Homepage</label>
										<div class="col-xs-4 col-sm-4">
											<input type="checkbox" name="is_show_homepage" id="is_show_homepage"
												class="form-control form-control-sm form-control-checkbox">
										</div>
										<label id="labordering"
											class="col-sm-2 col-form-label text-sm-right ">Ordering</label>
										<div class="col-xs-4 col-sm-4">
											<input type="number" name="ordering" id="ordering"
												value="<%= item.ordering %>" class="form-control form-control-sm">
										</div>
										<label id="labdescription"
											class="col-sm-2 col-form-label text-sm-right ">Description</label>
										<div class="col-xs-4 col-sm-4">
											<input type="text" name="description" id="description"
												value="<%= item.description %>" class="form-control form-control-sm">
										</div>
										<label id="labstatus"
											class="col-sm-2 col-form-label text-sm-right ">Status</label>
										<div class="col-xs-4 col-sm-4">
											<select id="status" name="status" class="custom-select custom-select-sm">
												<option value="novalue">Choose Status</option>
												<option value="Active">Active</option>
												<option value="Deactive">Deactive</option>
											</select>
										</div>

										<label id="lablink" class="col-sm-2 col-form-label text-sm-right">Link</label>
										<div class="col-xs-4 col-sm-4" id="divlink">
											<input type="text" name="link" id="link" value="<%= item.link %>"
											class="form-control form-control-sm">
										</div>
									</div>
									<div class="form-group row">
										<div class="text-success" id="divMessage"></div>
									</div>
									<input name="idHidden" id="idHidden" type="hidden">
								</form>
								<input name="listData" id="listData" type="hidden" value="<%= itemString %>">
								<input name="sysLanguage" id="sysLanguage" type="hidden" value="<%= language %>">
								<input name="listDataCatalogue" id="listDataCatalogue" type="hidden"
									value="<%= catalogue %>">
							</div>
							<div class="modal-footer">
								&nbsp; <button type="button" id="btnCloseMainMoal" data-dismiss="modal"
									class="btn btn-sm btn-success" title="Close">
									<i class="fa fa-mail-reply"></i> Close
								</button>
								<button type="button" id="btnSave" class="btn-sm btn-primary" title="Save">
									<i class="fa fa-save"></i> Save
								</button>
								<!-- &nbsp; <button type="button" id="btnSaveAs" class="btn-sm btn-danger" title="Save as">
									<i class="far fa-clone"></i> Save as
								</button> -->
								&nbsp; <button type="button" id="btnUpdate" class="btn-sm btn-primary" title="Update">
									<i class="fa fa-save"></i> Update
								</button>
								&nbsp; <button type="button" id="btnSearchPost" class="btn-sm btn-info" title="Search">
									<i class="fa fa-search"></i> Search
								</button>
								&nbsp; <button type="submit" id="btnSearchGet" class="btn-sm btn-warning"
									title="Search Get">
									<i class="fa fa-search"></i> Search Get
								</button>
								&nbsp; <button type="button" id="btnExport" class="btn-sm btn-success" title="Export">
									<i class="fa fa-download"></i> Export
								</button>
							</div>
							<div class="card card-info card-outline collapsed-card">
								<!-- // Underline -->
							</div>
						</div> <!-- End <div class="modal-content">  -->
					</div>
				</div>
				<!-- ================ End Modal From ===================================================================== -->

				<div class="card card-info card-outline">
					<div class="card-header">
						<h4 class="card-title">List data</h4>
						<div class="card-tools">
							<button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
								title="Collapse"><i class="fas fa-minus"></i></button>
						</div>
					</div>
					<div class="card-body">
						<table id="tablecategories" class="table table-bordered table-hover btn-table mb-0">
							<thead>
								<tr>
									<th class="text-center">
										<div class="custom-control custom-checkbox">
											<input class="custom-control-input cbAll" type="checkbox" id="check-all">
											<label for="check-all" class="custom-control-label"></label>
										</div>
									</th>
									<th class="text-center">
										<label id="labid_tb" data-sort="" data-column="id" class="columnHeader"
											onclick="sortByColumn(this)">
											Id <i class="fa fa-fw" data-column="id"></i>
										</label>
									</th>

									<th class="text-center">
										<label id="labname_tb" data-sort="" data-column="name" class="columnHeader"
											onclick="sortByColumn(this)">
											Name <i class="fa fa-fw" data-column="name"></i>
										</label>
									</th>

									<th class="text-center">
										<label id="labparent_id_tb" data-sort="" data-column="parent_id"
											class="columnHeader" onclick="sortByColumn(this)">
											Parent Categories <i class="fa fa-fw" data-column="parent_id"></i>
										</label>
									</th>

									<!-- <th class="text-center">
										<label id="labslug_tb" data-sort="" data-column="slug" class="columnHeader"
											onclick="sortByColumn(this)">
											Slug <i class="fa fa-fw" data-column="slug"></i>
										</label>
									</th> -->
									<th class="text-center">
										<label id="labthumbnail_tb" class="columnHeader">
											Thumbnail
										</label>
									</th>
									<!-- <th class="text-center">
										<label id="labviewtype_tb" data-sort="" data-column="viewtype"
											class="columnHeader" onclick="sortByColumn(this)">
											View Type <i class="fa fa-fw" data-column="viewtype"></i>
										</label>
									</th>
									<th class="text-center">
										<label id="labis_show_homepage_tb" data-sort="" data-column="is_show_homepage"
											class="columnHeader" onclick="sortByColumn(this)">
											Show Homepage <i class="fa fa-fw" data-column="is_show_homepage"></i>
										</label>
									</th> -->
									<th class="text-center">
										<label id="labordering_tb" data-sort="" data-column="ordering"
											class="columnHeader" onclick="sortByColumn(this)">
											Ordering <i class="fa fa-fw" data-column="ordering"></i>
										</label>
									</th>
									<!-- <th class="text-center">
										<label id="labdescription_tb" data-sort="" data-column="description"
											class="columnHeader" onclick="sortByColumn(this)">
											Description <i class="fa fa-fw" data-column="description"></i>
										</label>
									</th> -->
									<th class="text-center">
										<label id="labstatus_tb" data-sort="" data-column="status" class="columnHeader"
											onclick="sortByColumn(this)">
											Status <i class="fa fa-fw" data-column="status"></i>
										</label>
									</th>
									<th class="text-center">Action</a></th>
								</tr>
							</thead>
							<tbody id="bodyTablecategories">
								<tr>
									<th class="text-center"></a></th>
									<th class="text-center"></a></th>
									<th class="text-center"></a></th>
									<th class="text-center"></a></th>
									<th class="text-center"></a></th>
									<th class="text-center"></a></th>
									<th class="text-center"></a></th>
									<!-- <th class="text-center"></a></th>
									<th class="text-center"></a></th>
									<th class="text-center"></a></th>
									<th class="text-center"></a></th> -->
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-xs-1 col-sm-1">Quantity per page:</div>
					<div class="col-xs-1 col-sm-1">
						<input type="number" class="form-control form-control-sm" name="numberItemPerPage"
							id="numberItemPerPage" size="4">
					</div>
					<div class="col-xs-9 col-sm-9" id="paginationcategories">
					</div>
				</div>
			</div>
			<script type="application/javascript">
				var language={};
				var listData;
				var linkPrefix=$('#linkPrefix').val();

				onLoadData();
				function onLoadData() {
					getLanguage();
					setUpdateButtonStatus(false)
					setInterfaceText();
					getNumberItemPerPage();
					var strData=$('#listData').val();
					listData=JSON.parse(strData);
					if(listData.length>0) {
						displayDataToTable();
						var paramsString=$('#params').val();
						const params=JSON.parse(paramsString);
						paginationHelper(params.pagination,"categories",params.currentStatus,params.keyword,linkPrefix,"paginationcategories");
					}
				}

				function displayDataToTable() {
					sortDataJson();
					link=createLinkImage("categories");
					var table=document.getElementById("bodyTablecategories");
					var lengthtable=table.rows.length-1;
					for(var n=lengthtable;n>=0;n--) {
						table.deleteRow(n);
					}
					var length=listData.length;
					if(length<1) {
						showNoticeDanger(language.Message_NotFoundData);
						return false;
					}
					$("#modaMainForm").modal('hide');
					listData.forEach(function(data) {
						var row=table.insertRow(0);
						var cell0=row.insertCell(0);
						var cell1=row.insertCell(1);
						var cell2=row.insertCell(2);
						var cell3=row.insertCell(3);
						var cell4=row.insertCell(4);
						var cell5=row.insertCell(5);
						var cell6=row.insertCell(6);
						var cell7=row.insertCell(7);
						//var cell8=row.insertCell(8);
						// var cell9=row.insertCell(9);
						// var cell10=row.insertCell(10);
						// var cell11=row.insertCell(11);
						let check=`<div class="custom-control custom-checkbox"> 
				<input class="custom-control-input" type="checkbox" name="chkListData" id="${data.id}" value="${data.id}">
				<label for="${data.id}" class="custom-control-label"></label>
			</div>`;
						cell0.innerHTML=check;
						cell1.innerHTML=data.id;
						cell2.innerHTML=data.name;
						cell3.innerHTML=data.nameParent;
						//cell4.innerHTML=data.slug;
						//1. display value
						//cell5.innerHTML = data.thumbnail;
						//2. display image
						cell4.innerHTML=`<img src="${link}${data.thumbnail}" alt="" width="100" >`;
						//3. display full link
						//cell5.innerHTML = `${link}${data.thumbnail}`;
						//4. display download file
						//cell5.innerHTML=`<a href="${link}${data.file_dinh_kem}" target="_blank">Download</a>`;
						//cell6.innerHTML=data.viewtype;
						//cell7.innerHTML=data.is_show_homepage;
						cell5.innerHTML=data.ordering;
						//cell9.innerHTML=data.description;
						cell6.innerHTML=data.status;
						let strbutton=" <a  onclick=\"getById('"+data.id+"')\" type=\"button\" class=\"rounded-circle btn btn-sm btn-info\" title=\"Edit\">"+
							"<i class=\"fas fa-pencil-alt\"></i>"+
							"</a> "+
							" <button type=\"button\" class=\"rounded-circle btn btn-sm btn-danger\" data-id=\""+data.id+"\" title=\"Delete\"  onclick=\"deleteById(this,"+data.id+", '"+data.name+"')\">";
						strbutton+=" <i class=\"fas fa-trash-alt\"></i> ";
						strbutton+=" </ button > ";
						cell7.innerHTML=strbutton;
					});
				}

				$('input#name').keyup(function() {
					$('input[name="slug"]').val(change_alias($(this).val()));
				});

				$("#viewtype").change(function() { 
					checkViewType()					
				}); 
				checkViewType();
				function checkViewType() {
					let view=$('#viewtype').val();				
					if(view == 'view-link'){						
						$('#divlink').css('display','');
						$('#lablink').css('display','');
						
					}
					else{
						$('#divlink').css('display','none');
						$('#lablink').css('display','none');
					}
				}

				$("#numberItemPerPage").change(function() {
					setNumberItemPerPage();
				});
				function setUpdateButtonStatus(statusUpdate) {
					$('#btnSave').prop('hidden',statusUpdate);
					$('#btnUpdate').prop('hidden',!statusUpdate);
				}

				function getLanguage() {
					var languageString=$('#sysLanguage').val();
					language=JSON.parse(languageString);
				}

				function setInterfaceText() {
					$("#pageTitle").html(language.TitlePage);
					$("#labid").text(language.id);
					$("#labparent_id").text(language.parent_id);
					$("#labname").text(language.name);
					$("#labslug").text(language.slug);
					$("#labthumbnail").text(language.thumbnail);
					$("#labviewtype").text(language.viewtype);
					$("#lablink").text(language.link);
					$("#labis_show_homepage").text(language.is_show_homepage);
					$("#labordering").text(language.ordering);
					$("#labdescription").text(language.description);
					$("#labstatus").text(language.status);
					$("#labid_tb").html(language.id+"<i class=\"fa fa-fw\" data-column=\"id\"></i>");
					$("#labparent_id_tb").html(language.parent_id+"<i class=\"fa fa-fw\" data-column=\"parent_id\"></i>");
					$("#labname_tb").html(language.name+"<i class=\"fa fa-fw\" data-column=\"name\"></i>");
					//$("#labslug_tb").html(language.slug+"<i class=\"fa fa-fw\" data-column=\"slug\"></i>");
					$("#labthumbnail_tb").html(language.thumbnail+"<i class=\"fa fa-fw\" data-column=\"thumbnail\"></i>");
					//$("#labviewtype_tb").html(language.viewtype+"<i class=\"fa fa-fw\" data-column=\"viewtype\"></i>");
					//$("#labis_show_homepage_tb").html(language.is_show_homepage+"<i class=\"fa fa-fw\" data-column=\"is_show_homepage\"></i>");
					$("#labordering_tb").html(language.ordering+"<i class=\"fa fa-fw\" data-column=\"ordering\"></i>");
					//$("#labdescription_tb").html(language.description+"<i class=\"fa fa-fw\" data-column=\"description\"></i>");
					$("#labstatus_tb").html(language.status+"<i class=\"fa fa-fw\" data-column=\"status\"></i>");
				}

				//
				createDataForDropdownLists();
				function createDataForDropdownLists() {
					try {
						var strCatalogue=$('#listDataCatalogue').val();
						arrCatalogue=JSON.parse(strCatalogue);
						createDataForDropdown(arrCatalogue[0],'parent_id','id','CategorieParent_Name','name','-- Chose --');
					}
					catch(err) {}

				}

				closeAllDropdown();
				function closeAllDropdown() {
					var DivContenCategorieParent_Name=document.getElementById('DivContenCategorieParent_Name');
					DivContenCategorieParent_Name.hidden=true;
				}

				function getById(Id) {
					var link=linkPrefix+'getById/'+Id;
					$.ajax({
						type: 'GET',
						url: link,
						dataType: "json",
						success: function(resultdata) {
							var success=resultdata.success;
							if(success==true) {
								showDataToForm(resultdata.data);
							}
						},
						failure: function(response) {
							alert(language.Message_GetItemByIdError);
						},
						error: function(response) {
							alert(language.Message_GetItemByIdError);
						},
					});
				}

				function showDataToForm(data) {					
					try {
						setUpdateButtonStatus(true);
						$("#modaMainForm").modal('show');
						$('#idHidden').val(data.id);
						$('#id').val(data.id);
						$('#parent_id').val(data.parent_id);
						$('#CategorieParent_Name').val(data.nameParent);
						$('#name').val(data.name);
						$('#slug').val(data.slug);
						$('#thumbnail_old').val(data.thumbnail);
						$('#viewtype').val(data.viewtype);
						$('#zone').val(data.zone);
						if((data.is_show_homepage=="true")||(data.is_show_homepage==true)||(data.is_show_homepage=="active")||(data.is_show_homepage=="yes")||(data.is_show_homepage=="1"))
							$("#is_show_homepage").prop("checked",true);
						else $("#is_show_homepage").prop("checked",false);
						$('#ordering').val(data.ordering);
						$('#description').val(data.description);
						$('#status').val(data.status);
						$('#link').val(data.link);
						checkViewType();
					}
					catch(error) {}
				}

				$('#btnOpenMainModalForm').click(function() {
					$("#modaMainForm").modal('show');
					clearForm();
				});

				$('#btnSearchPost_OpenForm').click(function() {
					$("#modaMainForm").modal('show');
				});

				$('#btnExport_OpenForm').click(function() {
					$("#modaMainForm").modal('show');
				});

				// $('#btnRefreshPage').click(function() {
				// 	window.location.reload(true);
				// });


				function clearForm() {
					try {
						$('#idHidden').val('');
						setUpdateButtonStatus(false)
						$('#id').val('');
						$('#parent_id').val('');
						$('#name').val('');
						$('#slug').val('');
						$('#thumbnail').val('');
						$('#viewtype').val('');						
						$('#zone').val('');
						$("#is_show_homepage").prop("checked",false);
						$('#ordering').val('');
						$('#description').val('');
						$('#status').val('');
						$('#link').val('');
					}
					catch(error) {}
				}

				$('#btnSearchPost').click(function() {
					$(this).prop('disabled',true);
					getContentPages(1);
				});

				function getContentPages(page) {
					var sortStorage=getSortType(linkPrefix);
					let data={
						name: $('#name').val(),
						parent_id: $('#parent_id').val(),
						slug: $('#slug').val(),
						viewtype: $('#viewtype').val(),
						zone: $('#zone').val(),
						description: $('#description').val(),
						Page: page,
						sortColumn: sortStorage.sortColumn,
						sortType: sortStorage.sortType,
						numberItemPerPage: $('#numberItemPerPage').val()
					}
					var link=linkPrefix+'search';
					$.ajax({
						type: 'POST',
						url: link,
						data: data,
						dataType: "json",
						success: function(resultdata) {
							$('#btnSearchPost').prop('disabled',false);
							listData=resultdata.data;
							displayDataToTable();
							let params=resultdata.params;
							paginationHelper(params.pagination,"categories","","",linkPrefix,"paginationcategories");

							if(params.pagination.totalItems>0) {
								var message=language.Message_Find+params.pagination.totalItems+language.Message_Words_records;
								showNoticeSuccess(message);
							}
						},
						failure: function(response) {
							$('#btnSearchPost').prop('disabled',false);
							showNoticeDanger('Search Error');
						},
						error: function(response) {
							$('#btnSearchPost').prop('disabled',false);
							showNoticeDanger('Search Error');
						}
					});
					$('#btnSearchPost').prop('disabled',false);
				}

				$('#btnSave').click(function() {
					$(this).prop('disabled',true);
					chekValueAndSubmit();
					$(this).prop('disabled',false);
				});

				$('#btnSaveAs').click(function() {
					$(this).prop('disabled',true);
					$('#idHidden').val('');
					$('#id').val('');
					chekValueAndSubmit();
					$(this).prop('disabled',false);
				});

				function chekValueAndSubmit() {
					if(($('#name').val().length<1)||($('#name').val().length>40)) {
						var message=formatMessage(language.name+": "+language.Message_Invalid_name,'1','40');
						alert(message);
						return false;
					}

					if(($('#viewtype').val()=='novalue')||($('#viewtype').val()=='')||($('#viewtype').val()==null)) {
						var message=formatMessage(language.viewtype+": "+language.Message_Invalid_viewtype,'1','40');
						alert(message);
						return false;
					}
					else if($('#viewtype').val()=='view-link'){
						if(($('#link').val().length<5)||($('#link').val().length>300)) {
							var message=formatMessage(language.link+": "+language.Message_Invalid_link,'5','300');
							alert(message);
							return false;
						}
					}

					if(($('#zone').val()=='novalue')||($('#zone').val()=='')||($('#zone').val()==null)) {
						var message=formatMessage(language.zone+": "+language.Message_Invalid_zone,'1','10');
						alert(message);
						return false;
					}

					if(($('#status').val()=='novalue')||($('#status').val()=='')||($('#status').val()==null)) {
						var message=formatMessage(language.status+": "+language.Message_Invalid_status,'1','40');
						alert(message);
						return false;
					}

					let is_show_homepage=$('#is_show_homepage').is(":checked")? 1:0;
					$('#is_show_homepage').val(is_show_homepage);

					

					document.getElementById("formcategories").submit();
				}

				function getDataForm() {
					if(($('#name').val().length<1)||($('#name').val().length>40)) {
						var message=formatMessage(language.name+": "+language.Message_Invalid_name,'1','40');
						alert(message);
						return false;
					}
					return {
						'idHidden': $('#idHidden').val(),
						'id': $('#id').val(),
						'parent_id': $('#parent_id').val(),
						'name': $('#name').val(),
						'slug': $('#slug').val(),
						'thumbnail': $('#thumbnail').val(),
						'viewtype': $('#viewtype').val(),
						'is_show_homepage': $('#is_show_homepage').is(":checked")? 1:0,
						'ordering': $('#ordering').val(),
						'description': $('#description').val(),
						'status': $('#status').val(),
						'link': $('#link').val(),
					}
				}

				function saveInsert() {
					let data=getDataForm();
					if(data==false) {
						$('#btnSave').prop('disabled',false);
						return false;
					}
					var link=linkPrefix+'save';
					$.ajax({
						type: 'post',
						url: link,
						data: data,
						dataType: "json",
						success: function(response) {
							var success=response.success;
							var result=response.data;
							if((success=='false')||(success==false))
								showNoticeDanger(language.Message_AddNewError+' ('+response.message+')');
							else if((success!=true)&&(success!='true'))
								showNoticeDanger(result.message);
							else {
								insertRow(result.data);
								clearForm();
							}
						},
						failure: function(response) {
							showErrorMessageSave(response,language.Message_AddNewError);
						},
						error: function(response) {
							showErrorMessageSave(response,language.Message_AddNewError);
						},
					});
					$('#btnSave').prop('disabled',false);
				}

				function insertRow(data) {
					showNoticeSuccess(language.Message_AddNewSuccess);
					var table=document.getElementById("bodyTablecategories");
					var row=table.insertRow(0);
					var cell0=row.insertCell(0);
					var cell1=row.insertCell(1);
					var cell2=row.insertCell(2);
					var cell3=row.insertCell(3);
					var cell4=row.insertCell(4);
					var cell5=row.insertCell(5);
					var cell6=row.insertCell(6);
					var cell7=row.insertCell(7);
					var cell8=row.insertCell(8);
					var cell9=row.insertCell(9);
					var cell10=row.insertCell(10);
					var cell11=row.insertCell(11);
					let check=`<div class="custom-control custom-checkbox"> 
					<input class="custom-control-input" type="checkbox" name="chkListData" id="${data.id}" value="${data.id}">
					<label for="${data.id}" class="custom-control-label"></label>
				</div>`;
					cell0.innerHTML=check;
					cell1.innerHTML=data.id;
					cell2.innerHTML=data.name;
					cell3.innerHTML=data.parent_id;
					cell4.innerHTML=data.slug;
					cell5.innerHTML=data.thumbnail;
					cell6.innerHTML=data.viewtype;
					cell7.innerHTML=data.is_show_homepage;
					cell8.innerHTML=data.ordering;
					cell9.innerHTML=data.description;
					cell10.innerHTML=data.status;
					let strbutton=" <a  onclick=\"getById('"+data.id+"')\" type=\"button\" class=\"rounded-circle btn btn-sm btn-info\" title=\"Edit\">"+
						"<i class=\"fas fa-pencil-alt\"></i>"+
						"</a> "+
						" <button type=\"button\" class=\"rounded-circle btn btn-sm btn-danger\" data-id=\""+data.id+"\" title=\"Delete\"  onclick=\"deleteById(this,"+data.id+",'"+data.name+"')\">";
					strbutton+=" <i class=\"fas fa-trash-alt\"></i> ";
					strbutton+=" </ button > ";
					cell11.innerHTML=strbutton;
				}

				$('#btnUpdate').click(function() {
					$(this).prop('disabled',true);
					chekValueAndSubmit();
					$(this).prop('disabled',false);
				});

				function saveUpdate() {
					let data=getDataForm();
					if(data==false) {
						$('#btnUpdate').prop('disabled',false);
						return false;
					}
					if(data.idHidden=="") {
						$('#btnUpdate').prop('disabled',false);
						showNoticeDanger(language.Message_HaveNotSelectedItemUpdate);
						return false;
					}
					var link=linkPrefix+'update';
					$.ajax({
						type: 'put',
						url: link,
						data: data,
						dataType: "json",
						success: function(response) {
							var success=response.success;
							var result=response.data;
							if((success=='false')||(success==false)) {
								showNoticeDanger(language.Message_UpdateError);
								return false;
							}
							else if((success!=true)&&(success!='true')) {
								showNoticeDanger(result.message);
								return false;
							}
							else {
								updateRow(result.data);
								clearForm();
							}
						},
						failure: function(response) {
							showErrorMessageSave(response,language.Message_UpdateError);
						},
						error: function(response) {
							showErrorMessageSave(response,language.Message_UpdateError);
						}
					});
					$('#btnUpdate').prop('disabled',false);
				}

				function updateRow(data) {
					showNoticeSuccess(language.Message_UpdateSuccess);
					$("#modaMainForm").modal('hide');
					var row=$("#tablecategories button[data-id='"+data.id+"']").parents("tr")[0];
					var tr="<tr>"+
						"<td class=\"text-center\">"+
						"<div class=\"custom-control custom-checkbox\">"+
						"<input class=\"custom-control-input\" type=\"checkbox\" name=\"chkListData\" id=\""+data.id+"\" value=\""+data.id+"\"> "+
						"<label for=\""+data.id+"\" class=\"custom-control-label\"></label> "+
						"</div>"+
						"</td>";
					tr+="<td class=\"text-center\">"+data.id+"</td>";
					tr+="<td class=\"text-center\">"+data.name+"</td>";
					tr+="<td class=\"text-center\">"+data.parent_id+"</td>";
					tr+="<td class=\"text-center\">"+data.slug+"</td>";
					tr+="<td class=\"text-center\">"+data.thumbnail+"</td>";
					tr+="<td class=\"text-center\">"+data.viewtype+"</td>";
					tr+="<td class=\"text-center\">"+data.is_show_homepage+"</td>";
					tr+="<td class=\"text-center\">"+data.ordering+"</td>";
					tr+="<td class=\"text-center\">"+data.description+"</td>";
					tr+="<td class=\"text-center\">"+data.status+"</td>";
					tr+="<td class=\"text-center\">"+
						" <a  onclick=\"getById('"+data.id+"')\" type=\"button\" class=\"rounded-circle btn btn-sm btn-info\" title=\"Edit\">"+
						" <i class=\"fas fa-pencil-alt\"></i>"+
						" </a>"+
						" <button type=\"button\" class=\"rounded-circle btn btn-sm btn-danger\" data-id=\""+data.id+"\" title=\"Delete\"  onclick=\"deleteById(this,'"+data.id+"', '"+data.name+"')\">"+
						" <i class=\"fas fa-trash-alt\"></i> "+
						" </button> "+
						" </td>"+
						" </tr>";
					$(row).after(tr);
					$(row).remove();
				}
				function deleteById(row,IdObject,name) {
					let message=language.Message_DoYouWantToDeleteById+' '+IdObject+' - '+name+'?';
					var answer=confirm(message)
					if(!answer) {return false;}
					let data={
						'id': IdObject
					};
					var link=linkPrefix+'deleteById';
					$.ajax({
						type: 'delete',
						url: link,
						data: data,
						dataType: "json",
						success: function(resultdata) {
							var success=resultdata.success;
							var message=resultdata.message;
							var notice={};
							if((success=='true')||(success==true)) {
								showNoticeSuccess(language.Message_DeleteSuccess);
								var i=row.parentNode.parentNode.rowIndex;
								document.getElementById("tablecategories").deleteRow(i);
								return true;
							}
							else if((success=='false')||(success==false)) {
								showNoticeDanger(language.Message_DeleteFail);
								return false;
							}
							else if(message.length>10) {
								showNoticeDanger(message);
								return false;
							}
							else {
								showNoticeDanger(language.Message_DeleteFail);
								return false;
							}
						},
						failure: function(response) {
							showNoticeDanger(language.Message_DeleteFail);
						},
						error: function(response) {
							showNoticeDanger(language.Message_DeleteFail);
						}
					});
				}

				$('#btnDelete').click(function() {
					$(this).prop('disabled',true);
					deleteList();
					$(this).prop('disabled',false);
				});
				function deleteList() {
					var arrayId=[];
					var listId=" ";
					$("input:checkbox[name=chkListData]:checked").each(function() {
						arrayId.push($(this).val());
						listId+=$(this).val()+',';
					});
					let message=language.Message_DoYouWantToDeleteInTheList+' '+listId+'?';
					var answer=confirm(message)
					if(!answer) {return false;}
					let data={arrayId};
					var link=linkPrefix+'deleteList';
					$.ajax({
						type: 'delete',
						url: link,
						data: data,
						dataType: "json",
						success: function(resultdata) {
							var result=resultdata.data;
							var success=result.success;
							var message=result.message;
							if((success=='true')||(success==true)) {
								let deleteSuccess=result.deleteSuccess;
								let deleteError=result.deleteError;
								if(deleteSuccess.length>0) {
									let message=language.Message_DeleteSuccess;
									message+=" "+deleteSuccess.toString();
									if(deleteError.length>0) {
										message+=" \n"+language.Message_DeleteFail+" "+deleteError.toString();
									}
									showNoticeSuccess(message);
									deleteRows(arrayId,"bodyTablecategories");
									return true;
								}
								else if(deleteError.length>0) {
									let message=language.Message_DeleteFail+" "+deleteError.toString();
									showNoticeDanger(message);
								}
								else {
									showNoticeDanger(language.Message_DeleteFail);
								}
							}
							else if((success=='false')||(success==false)) {
								showNoticeDanger(language.Message_DeleteFail);
								return false;
							}
						},
						failure: function(response) {
							showNoticeDanger(language.Message_DeleteFail);
						},
						error: function(response) {
							showNoticeDanger(language.Message_DeleteFail);
						}
					});
				}

				$('#btnExport').click(function() {
					$(this).prop('disabled',true);
					exportData();
					$(this).prop('disabled',false);
				});

				function exportData() {
					let data={
						'parent_id': $('#parent_id').val(),
						'name': $('#name').val(),
						'slug': $('#slug').val(),
						'viewtype': $('#viewtype').val(),
						'description': $('#description').val(),
						'status': $('#status').val(),
					}
					var link=linkPrefix+'exportData';
					$.ajax({
						type: 'post',
						url: link,
						data: data,
						dataType: "json",
						success: function(resultdata) {
							$('#btnExport').prop('disabled',false);
							let result=resultdata.data;
							showNoticeSuccess(language.Message_CompletedGetData);
							ExportToExcel(result);
						},
						failure: function(response) {
							$('#btnExport').prop('disabled',false);
							showNoticeDanger('Export Error');
						},
						error: function(response) {
							$('#btnExport').prop('disabled',false);
							showNoticeDanger('Export Error');
						}
					});
					$('#btnExport').prop('disabled',false);
				}

				function ExportToExcel(datas) {
					let itemCount=datas.length;
					if(itemCount>1000) {
						showNoticeDanger(language.Message_WarningWhenExportingDataTooMuch);
					}
					if(itemCount<1) {
						showNoticeDanger(language.Message_NotFoundData);
					}
					var strTable='<style type="text/css">';
					strTable+=' .Border { ';
					strTable+='         color: windowtext; ';
					strTable+='         font-size: 11.0pt; ';
					strTable+='         word-break:break-all;';
					strTable+='         font-style: normal; ';
					strTable+='         text-decoration: none; ';
					strTable+='         font-family: "Times New Roman", serif; ';
					strTable+='         text-align: left; ';
					strTable+='         vertical-align: bottom;';
					strTable+='         border-left: .5pt solid windowtext; ';
					strTable+='         border-right: .5pt solid windowtext; ';
					strTable+='         border-top: .5pt solid windowtext; ';
					strTable+='         border-bottom: .5pt solid windowtext; ';
					strTable+='         padding-left: 1px; ';
					strTable+='         padding-right: 1px; ';
					strTable+='         padding-top: 1px; ';
					strTable+='     } ';

					strTable+=' .BorderHeader { ';
					strTable+='        color: white; ';
					strTable+='         background-color:#0026ff; ';
					strTable+='        font-size: 11.0pt; ';
					strTable+='        text-align: center; ';
					strTable+='        font-style: normal; ';
					strTable+='        text-decoration: none; ';
					strTable+='        font-family: "Times New Roman", serif; ';
					strTable+='        vertical-align: bottom;';
					strTable+='        border-left: .5pt solid windowtext; ';
					strTable+='        border-right: .5pt solid windowtext; ';
					strTable+='        border-top: .5pt solid windowtext; ';
					strTable+='        border-bottom: .5pt solid windowtext; ';
					strTable+='        padding-left: 1px; ';
					strTable+='        padding-right: 1px; ';
					strTable+='        padding-top: 1px; ';
					strTable+='     } ';
					strTable+='  </style> ';
					strTable+=' <table id="testTable"  border="1" frame="hsides" rules="groups" summary="Code page support in different versions of MS Windows."> ';
					strTable+='<tr class="BorderHeader" style="background - color:#0026ff; color:#fff"> ';
					strTable+='<th class="BorderHeader" >Order</th> ';
					strTable+='<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Id </th> ';
					strTable+='<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Parent Categories </th> ';
					strTable+='<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Name </th> ';
					strTable+='<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Slug </th> ';
					strTable+='<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Thumbnail </th> ';
					strTable+='<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> View Type </th> ';
					strTable+='<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Link </th> ';
					strTable+='<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Show Homepage </th> ';
					strTable+='<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Ordering </th> ';
					strTable+='<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Description </th> ';
					strTable+='<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Status </th> ';

					strTable+='<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Username Created </th> ';
					strTable+='<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Datetime Created </th> ';
					strTable+='<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Username Modified </th> ';
					strTable+='<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Datetime Modified </th> ';

					strTable+='</tr> ';
					var n=0;
					var currentRow=4;
					for(var i=0;i<itemCount;i++) {
						var vTemp=datas[i];
						currentRow+=1;
						n+=1;
						strTable+='<tr >';
						strTable+='<th class="Border" > '+n+' </th> ';
						strTable+='<th  class="Border" > '+vTemp.id+' </th> ';
						strTable+='<th  class="Border" > '+vTemp.nameParent+' </th> ';
						strTable+='<th  class="Border" > '+vTemp.name+' </th> ';
						strTable+='<th  class="Border" > '+vTemp.slug+' </th> ';
						strTable+='<th  class="Border" > '+vTemp.thumbnail+' </th> ';
						strTable+='<th  class="Border" > '+vTemp.viewtype+' </th> ';
						strTable+='<th  class="Border" > '+vTemp.link+' </th> ';
						strTable+='<th  class="Border" > '+vTemp.is_show_homepage+' </th> ';
						strTable+='<th  class="Border" > '+vTemp.ordering+' </th> ';
						strTable+='<th  class="Border" > '+vTemp.description+' </th> ';
						strTable+='<th  class="Border" > '+vTemp.status+' </th> ';

						strTable+='<th  class="Border" > '+vTemp.user_name_created+' </th> ';
						strTable+='<th  class="Border" > '+vTemp.datetime_created+' </th> ';
						strTable+='<th  class="Border" > '+vTemp.user_name_modified+' </th> ';
						strTable+='<th  class="Border" > '+vTemp.datetime_modified+' </th> ';

						strTable+='</tr>';
					}
					strTable+=' </table> ';
					ExportHtmlToExcel(strTable,'categories');
					showNoticeSuccess(language.Message_ExportSuccess);
				}

			</script>