<%- include ('./../helpers/pagination') %>
<%
	const collection = "sys_companies";
	const linkPrefix = systemConfig.prefixAdmin + `/${collection}/`; 
%>
<%- include ('./../elements/notify') %>
<div class="container-fluid">
	<input name="linkPrefix" id="linkPrefix" type="hidden" value="<%= linkPrefix %>">
	<input name="params" id="params" type="hidden" value="<%= params %>">
	&nbsp; &nbsp; <button type="button" id="btnOpenMainModalForm" class="btn btn-primary">
		<i class="fas fa-plus"></i> Add new
	</button>
	&nbsp; <button type="button" id = "btnDelete" class="btn-sm btn-danger" title="Delete">
		<i class="fas fa-trash-alt"></i> Delete
	</button>
	&nbsp; <button type="button" id = "btnSearchPost_OpenForm" class="btn-sm btn-info" title="Search">
		<i class="fa fa-search"></i> Search
	</button>
	&nbsp; <button type="button" id = "btnExport_OpenForm" class="btn-sm btn-success" title="Export">
		<i class="fa fa-download"></i> Export
	</button>
	&nbsp; <button type="button" id="btnRefreshPage" class="btn-sm btn-warning" title="Refresh" onclick="RefreshPage()">
		<i class="fa fa-refresh"></i> Refresh
	</button>
	<!-- ================ Modal From ======================== -->
	<div class="modal fade" id="modaMainForm" data-backdrop="static" data-keyboard="true" tabindex="- 1"
		role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Add New & Edit</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
			<form role="form" name="formsys_companies" id="formsys_companies"  action =" <%= linkPrefix %>searchGet" method="get">
				<div class="form-group row">
					<label id="labid" class="col-sm-2 col-form-label text-sm-right ">Id</label>
					<div class="col-xs-2 col-sm-2">
						<input type="text" readonly name="id"  id="id"  value="<%= item.id %>" class="form-control form-control-sm">
					</div>
					<label id="labname" class="col-sm-2 col-form-label text-sm-right ">Name</label>
					<div class="col-xs-2 col-sm-2">
						<input type="text"  name="name"  id="name"  value="<%= item.name %>" class="form-control form-control-sm">
					</div>
					<label id="labaddress" class="col-sm-2 col-form-label text-sm-right ">Address</label>
					<div class="col-xs-2 col-sm-2">
						<input type="text"  name="address"  id="address"  value="<%= item.address %>" class="form-control form-control-sm">
					</div>
					<label id="labemail1" class="col-sm-2 col-form-label text-sm-right ">Email</label>
					<div class="col-xs-2 col-sm-2">
						<input type="email" name="email1"  id="email1" value="<%= item.email1 %>" class="form-control form-control-sm">
					</div>
					<label id="labphone_number1" class="col-sm-2 col-form-label text-sm-right ">Phone Number</label>
					<div class="col-xs-2 col-sm-2">
						<input type="text"  name="phone_number1"  id="phone_number1"  value="<%= item.phone_number1 %>" class="form-control form-control-sm">
					</div>
					<label id="labnote" class="col-sm-2 col-form-label text-sm-right ">Note</label>
					<div class="col-xs-2 col-sm-2">
						<input type="text"  name="note"  id="note"  value="<%= item.note %>" class="form-control form-control-sm">
					</div>
					<label id="labbank_account_number1" class="col-sm-2 col-form-label text-sm-right ">Bank Number</label>
					<div class="col-xs-2 col-sm-2">
						<input type="text"  name="bank_account_number1"  id="bank_account_number1"  value="<%= item.bank_account_number1 %>" class="form-control form-control-sm">
					</div>
					<label id="labbank_name1" class="col-sm-2 col-form-label text-sm-right ">Bank Name</label>
					<div class="col-xs-2 col-sm-2">
						<input type="text"  name="bank_name1"  id="bank_name1"  value="<%= item.bank_name1 %>" class="form-control form-control-sm">
					</div>
					<label id="labstatus" class="col-sm-2 col-form-label text-sm-right ">Status</label>
					<div class="col-xs-2 col-sm-2">
						<select id="status" name="status" class="custom-select custom-select-sm">
							<option value="novalue">Choose Status</option>
							<option value="Active" <%=(item.status=="Active" )
								? 'selected="selected"' : '' %> >Active</option>
							<option value="Inactive" <%=(item.status=="Inactive" )
								? 'selected="selected"' : '' %> >Inactive</option>
						</select>
					</div>
				</div>
				<div class="form-group row">
					<div class = "text-success" id = "divMessage"></div>
				</div>
						<input name="idHidden" id="idHidden" type="hidden">
				<div class="modal-footer">
					&nbsp; <button type="button" id="btnCloseMainMoal" data-dismiss="modal"
						class="btn btn-sm btn-primary" title="Close">
						<i class="fa fa-mail-reply"></i> Close
					</button>
						<button type="button" id = "btnSave" class="btn-sm btn-success" title="Save">
							<i class="fa fa-save"></i> Save
						</button>
						 &nbsp; <button type="button" id = "btnSaveAs" class="btn-sm btn-danger" title="Save as">
							<i class="far fa-clone"></i> Save as
						</button>
						&nbsp; <button type="button" id = "btnUpdate" class="btn-sm btn-primary" title="Update">
							<i class="fa fa-save"></i> Update
						</button>
						&nbsp; <button type="button" id = "btnSearchPost" class="btn-sm btn-info" title="Search">
							<i class="fa fa-search"></i> Search
						</button>
						&nbsp; <button type="submit" id = "btnSearchGet" class="btn-sm btn-warning" title="Search Get">
							<i class="fa fa-search"></i> Search Get
						</button>
						&nbsp; <button type="button" id = "btnExport" class="btn-sm btn-success" title="Export">
							<i class="fa fa-download"></i> Export
						</button>
				</div>
			</form>
						<input name="listData" id="listData" type="hidden" value="<%= itemString %>">
						<input name="sysLanguage" id="sysLanguage" type="hidden" value="<%= language %>">
					<!-- // Underline -->
				<!--<div class="card card-info card-outline collapsed-card"></div>-->
			</div> <!-- End <div class="modal-body">  -->
		<!-- ================= Other information ==============================-->
		<div class="card card-info card-outline collapsed-card">
			<div class="card-header">
				<h6 class="card-title">Other information</h6>
				<div class="card-tools">
					<button type="button" class="btn btn-tool" data-card-widget="collapse"
						data-toggle="tooltip" title="Collapse">
						<i class="fas fa-plus"></i>
					</button>
				</div>
			</div>
			<div class="card-body" style="display: none;">
				<div class="row justify-content-between">
					<label class="col-sm-3 col-form-label text-sm-right" id="labuser_name_created_Text">User name created: </label>
					<label class="col-sm-3 col-form-label" id="labuser_name_created_Value">User name created: </label>
					<label class="col-sm-3 col-form-label text-sm-right" id="labdatetime_created_Text">Datetime created: </label>
					<label class="col-sm-3 col-form-label" id="labdatetime_created_Value">Datetime created:</label>
					<label class="col-sm-3 col-form-label text-sm-right" id="labuser_name_modified_Text">User name modifiedd: </label>
					<label class="col-sm-3 col-form-label" id="labuser_name_modified_Value">User name modifiedd: </label>
					<label class="col-sm-3 col-form-label text-sm-right" id="labdatetime_modified_Text">DateTime modified: </label>
					<label class="col-sm-3 col-form-label" id="labdatetime_modified_Value">DateTime modified: </label>
				</div>
			</div>
					
		</div>
		<!-- ================= End Other information ==================== -->
			</div> <!-- End <div class="modal-content">  -->
		</div>
	</div>
	<!-- ================ End Modal From ============================= -->

	<div class="card card-info card-outline">
		<div class="card-header">
			<h4 class="card-title">List data &nbsp;</h4>
			<!-- //===========================================-->
			<div class="button-group card-title">
				<button type="button" class="btn btn-default btn-sm dropdown-toggle"
					data-toggle="dropdown">
					<span class="fas fa-cog"></span>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" style="width: 300px;">
					<li>
						<a href="#" class="small" data-value="id" tabIndex="-1">
							<input type="checkbox" id="ckhShowColumnid" />&nbsp;
							<label id="labid_CheckboxShow">Id </label>
						</a> &nbsp; &nbsp;
						<a href="#" class="small" data-value="name" tabIndex="-1">
							<input type="checkbox" id="ckhShowColumnname" />&nbsp;
							<label id="labname_CheckboxShow">Name </label>
						</a>
					</li>
					<li>
						<a href="#" class="small" data-value="address" tabIndex="-1">
							<input type="checkbox" id="ckhShowColumnaddress" />&nbsp;
							<label id="labaddress_CheckboxShow">Address </label>
						</a> &nbsp; &nbsp;
					</li>
					<li>
						<a href="#" class="small" data-value="email1" tabIndex="-1">
							<input type="checkbox" id="ckhShowColumnemail1" />&nbsp;
							<label id="labemail1_CheckboxShow">Email </label>
						</a> &nbsp; &nbsp;
					</li>
					<li>
						<a href="#" class="small" data-value="phone_number1" tabIndex="-1">
							<input type="checkbox" id="ckhShowColumnphone_number1" />&nbsp;
							<label id="labphone_number1_CheckboxShow">Phone Number </label>
						</a> &nbsp; &nbsp;
					</li>
					<li>
						<a href="#" class="small" data-value="note" tabIndex="-1">
							<input type="checkbox" id="ckhShowColumnnote" />&nbsp;
							<label id="labnote_CheckboxShow">Note </label>
						</a> &nbsp; &nbsp;
					</li>
					<li>
						<a href="#" class="small" data-value="bank_account_number1" tabIndex="-1">
							<input type="checkbox" id="ckhShowColumnbank_account_number1" />&nbsp;
							<label id="labbank_account_number1_CheckboxShow">Bank Number </label>
						</a> &nbsp; &nbsp;
						<a href="#" class="small" data-value="bank_name1" tabIndex="-1">
							<input type="checkbox" id="ckhShowColumnbank_name1" />&nbsp;
							<label id="labbank_name1_CheckboxShow">Bank Name </label>
						</a>
					</li>
					<li>
						<a href="#" class="small" data-value="status" tabIndex="-1">
							<input type="checkbox" id="ckhShowColumnstatus" />&nbsp;
							<label id="labstatus_CheckboxShow">Status </label>
						</a> &nbsp; &nbsp;
					</li>
				</ul>
			</div>
			<!-- //=========================================================== -->
			<div class="card-tools">
				<button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fas fa-minus"></i></button>
			</div>
		</div>
		<div class="card-body">
			<table id="tablesys_companies" class="table table-bordered table-hover btn-table mb-0">
				<thead>
					<tr>
						<th class="text-center">
							<div class="custom-control custom-checkbox">
								<input class="custom-control-input cbAll" type="checkbox" id="check-all">
								<label for="check-all" class="custom-control-label"></label>
							</div>
						</th>
						<th class="text-center" data-sort="" data-column="id" class="columnHeader" onclick="sortByColumn(this)">
							<label id="labid_tb">
								Id <i class="fa fa-fw" data-column="id"></i>
							</label>
						</th>
						<th class="text-center" data-sort="" data-column="name" class="columnHeader" onclick="sortByColumn(this)">
							<label id="labname_tb">
								Name <i class="fa fa-fw" data-column="name"></i>
							</label>
						</th>
						<th class="text-center" data-sort="" data-column="address" class="columnHeader" onclick="sortByColumn(this)">
							<label id="labaddress_tb">
								Address <i class="fa fa-fw" data-column="address"></i>
							</label>
						</th>
						<th class="text-center" data-sort="" data-column="email1" class="columnHeader" onclick="sortByColumn(this)">
							<label id="labemail1_tb">
								Email <i class="fa fa-fw" data-column="email1"></i>
							</label>
						</th>
						<th class="text-center" data-sort="" data-column="phone_number1" class="columnHeader" onclick="sortByColumn(this)">
							<label id="labphone_number1_tb">
								Phone Number <i class="fa fa-fw" data-column="phone_number1"></i>
							</label>
						</th>
						<th class="text-center" data-sort="" data-column="note" class="columnHeader" onclick="sortByColumn(this)">
							<label id="labnote_tb">
								Note <i class="fa fa-fw" data-column="note"></i>
							</label>
						</th>
						<th class="text-center" data-sort="" data-column="bank_account_number1" class="columnHeader" onclick="sortByColumn(this)">
							<label id="labbank_account_number1_tb">
								Bank Number <i class="fa fa-fw" data-column="bank_account_number1"></i>
							</label>
						</th>
						<th class="text-center" data-sort="" data-column="bank_name1" class="columnHeader" onclick="sortByColumn(this)">
							<label id="labbank_name1_tb">
								Bank Name <i class="fa fa-fw" data-column="bank_name1"></i>
							</label>
						</th>
						<th class="text-center" data-sort="" data-column="status" class="columnHeader" onclick="sortByColumn(this)">
							<label id="labstatus_tb">
								Status <i class="fa fa-fw" data-column="status"></i>
							</label>
						</th>
						<th class="text-center">Action</a></th>
					</tr>
				</thead>
				<tbody id="bodyTablesys_companies">
					<tr>
						<th class="text-center"></a></th>
						<th class="text-center"></a></th>
						<th class="text-center"></a></th>
						<th class="text-center"></a></th>
						<th class="text-center"></a></th>
						<th class="text-center"></a></th>
						<th class="text-center"></a></th>
						<th class="text-center"></a></th>
						<th class="text-center"></a></th>
						<th class="text-center"></a></th>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-xs-1 col-sm-1">Quantity per page:</div>
		<div class="col-xs-1 col-sm-1">
			<input type="number" class="form-control form-control-sm" name="numberItemPerPage" id="numberItemPerPage" size="4">
		</div>
		<div class="col-xs-9 col-sm-9" id="paginationsys_companies">
		</div>
	</div>
</div>
<script type="application/javascript">
var language = {};
var listData;
var linkPrefix=$('#linkPrefix').val();
var idMainTable="tablesys_companies";
setSelectedColumnToShowInterface(idMainTable);

onLoadData();
function onLoadData(){
	getLanguage();
	setUpdateButtonStatus(false)
	setInterfaceText();
	getNumberItemPerPage();
	var strData = $('#listData').val();
	listData = JSON.parse(strData);
	if(listData.length>0){
		displayDataToTable();
		var paramsString = $('#params').val();
		const params = JSON.parse(paramsString);
		paginationHelper(params.pagination, "sys_companies", params.currentStatus, params.keyword,linkPrefix,  "paginationsys_companies");
	}
}

function displayDataToTable(){
	sortDataJson();
	showAllColumnInTable(idMainTable);
	var table = document.getElementById("bodyTablesys_companies");
	var lengthtable= table.rows.length-1;
	for(var n = lengthtable; n >= 0; n--) {
		table.deleteRow(n);
	}
	var length = listData.length;
	if(length <1 ) {
		showNoticeDanger(language.Message_NotFoundData);
		return false;
	}
	$("#modaMainForm").modal('hide');
	listData.forEach(function(data) {
		var row = table.insertRow(0);
		var cell0 = row.insertCell(0);
		var cell1 = row.insertCell(1);
		var cell2 = row.insertCell(2);
		var cell3 = row.insertCell(3);
		var cell4 = row.insertCell(4);
		var cell5 = row.insertCell(5);
		var cell6 = row.insertCell(6);
		var cell7 = row.insertCell(7);
		var cell8 = row.insertCell(8);
		var cell9 = row.insertCell(9);
		var cell10 = row.insertCell(10);
		let check= `<div class="custom-control custom-checkbox"> 
				<input class="custom-control-input" type="checkbox" name="chkListData" id="${data.id}" value="${data.id}">
				<label for="${data.id}" class="custom-control-label"></label>
			</div>`;
		cell0.innerHTML = check;
		cell1.innerHTML = data.id;
		cell2.innerHTML = data.name;
		cell3.innerHTML = data.address;
		cell4.innerHTML = data.email1;
		cell5.innerHTML = data.phone_number1;
		cell6.innerHTML = data.note;
		cell7.innerHTML = data.bank_account_number1;
		cell8.innerHTML = data.bank_name1;
		cell9.innerHTML = data.status;
		let strbutton = " <a  onclick=\"getById('"+data.id+"')\" type=\"button\" class=\"rounded-circle btn btn-sm btn-info\" title=\"Edit\">" +
			"<i class=\"fas fa-pencil-alt\"></i>" + 
			"</a> " + 
			" <button type=\"button\" class=\"rounded-circle btn btn-sm btn-danger\" data-id=\""+data.id+"\" title=\"Delete\"  onclick=\"deleteById(this,"+data.id+",'" + data.name + "')\">";
			strbutton += " <i class=\"fas fa-trash-alt\"></i> ";
		strbutton += " </ button > ";
		cell10.innerHTML = strbutton;
	});
	hideColumnInTable(idMainTable);
}
function setUpdateButtonStatus(statusUpdate){	
	$('#btnSave').prop('hidden', statusUpdate);
	$('#btnUpdate').prop('hidden', !statusUpdate);
}

function getLanguage(){
	var languageString = $('#sysLanguage').val();	
	language = JSON.parse(languageString);
}

function setInterfaceText(){
	$("#pageTitle").html(language.TitlePage);
	$("#labid").text(language.id);
	$("#labname").text(language.name);
	$("#labaddress").text(language.address);
	$("#labemail1").text(language.email1);
	$("#labphone_number1").text(language.phone_number1);
	$("#labnote").text(language.note);
	$("#labbank_account_number1").text(language.bank_account_number1);
	$("#labbank_name1").text(language.bank_name1);
	$("#labstatus").text(language.status);

	$("#labid_tb").html(language.id+"<i class=\"fa fa-fw\" data-column=\"id\"></i>");
	$("#labname_tb").html(language.name+"<i class=\"fa fa-fw\" data-column=\"name\"></i>");
	$("#labaddress_tb").html(language.address+"<i class=\"fa fa-fw\" data-column=\"address\"></i>");
	$("#labemail1_tb").html(language.email1+"<i class=\"fa fa-fw\" data-column=\"email1\"></i>");
	$("#labphone_number1_tb").html(language.phone_number1+"<i class=\"fa fa-fw\" data-column=\"phone_number1\"></i>");
	$("#labnote_tb").html(language.note+"<i class=\"fa fa-fw\" data-column=\"note\"></i>");
	$("#labbank_account_number1_tb").html(language.bank_account_number1+"<i class=\"fa fa-fw\" data-column=\"bank_account_number1\"></i>");
	$("#labbank_name1_tb").html(language.bank_name1+"<i class=\"fa fa-fw\" data-column=\"bank_name1\"></i>");
	$("#labstatus_tb").html(language.status+"<i class=\"fa fa-fw\" data-column=\"status\"></i>");

	$("#labid_CheckboxShow").text(language.id);
	$("#labname_CheckboxShow").text(language.name);
	$("#labaddress_CheckboxShow").text(language.address);
	$("#labemail1_CheckboxShow").text(language.email1);
	$("#labphone_number1_CheckboxShow").text(language.phone_number1);
	$("#labnote_CheckboxShow").text(language.note);
	$("#labbank_account_number1_CheckboxShow").text(language.bank_account_number1);
	$("#labbank_name1_CheckboxShow").text(language.bank_name1);
	$("#labstatus_CheckboxShow").text(language.status);
}

function getById(Id){
	var link = linkPrefix + 'getById/'+Id;
	$.ajax({
		type: 'GET',
		url: link,
		dataType: "json",
		success: function(resultdata){
			var success = resultdata.success;
			if(success == true){
				showDataToForm(resultdata.data);
			}
		},
		failure: function (response) {
			alert(language.Message_GetItemByIdError);
		},
		error: function (response) {
			alert(language.Message_GetItemByIdError);
		},
	});
}

function showDataToForm(data){
	try{
		setUpdateButtonStatus(true);
		$("#modaMainForm").modal('show');
		$('#idHidden').val(data.id);
		$('#id').val(data.id);
		$('#name').val(data.name);
		$('#address').val(data.address);
		$('#email1').val(data.email1);
		$('#phone_number1').val(data.phone_number1);
		$('#note').val(data.note);
		$('#bank_account_number1').val(data.bank_account_number1);
		$('#bank_name1').val(data.bank_name1);
		$('#status').val(data.status);

			$('#labuser_name_created_Value').text(data.user_name_created);
			$('#labdatetime_created_Value').text(data.datetime_created);
		$('#labuser_name_modified_Value').text(data.user_name_modified);
		$('#labdatetime_modified_Value').text(data.datetime_modified);
	}
	catch(error){}
}

$('#btnOpenMainModalForm').click(function () {
	$("#modaMainForm").modal('show');
	clearForm();
});

$('#btnSearchPost_OpenForm').click(function(){
	$("#modaMainForm").modal('show');
});

$('#btnExport_OpenForm').click(function(){
	$("#modaMainForm").modal('show');
});

function clearForm(){
	try{
		$('#idHidden').val('');
		setUpdateButtonStatus(false)
		$('#id').val('');
		$('#name').val('');
		$('#address').val('');
		$('#email1').val('');
		$('#phone_number1').val('');
		$('#note').val('');
		$('#bank_account_number1').val('');
		$('#bank_name1').val('');
		$('#status').val('');
	}
	catch(error){}
}

$('#btnSearchPost').click(function(){
	$(this).prop('disabled', true);
	getContentPages(1);
});

function getContentPages(page){
	var sortStorage=getSortType(linkPrefix);
	let data = {
		name : $('#name').val(),
		address : $('#address').val(),
		email1 : $('#email1').val(),
		phone_number1 : $('#phone_number1').val(),
		note : $('#note').val(),
		bank_account_number1 : $('#bank_account_number1').val(),
		bank_name1 : $('#bank_name1').val(),
		status : $('#status').val(),
		Page : page,
		sortColumn: sortStorage.sortColumn,
		sortType: sortStorage.sortType,
		numberItemPerPage: $('#numberItemPerPage').val()
	}
	var link = linkPrefix + 'search';
	$.ajax({
		type: 'POST',
		url: link,
		data: data,
		dataType: "json",
		success: function(resultdata){
			$('#btnSearchPost').prop('disabled', false);
			listData = resultdata.data;
			displayDataToTable();
			let params = resultdata.params;
			paginationHelper(params.pagination, "sys_companies", "", "", linkPrefix, "paginationsys_companies");

			if(params.pagination.totalItems > 0 ) {
				var message = language.Message_Find + params.pagination.totalItems + language.Message_Words_records;
				showNoticeSuccess(message);
			}
		},
		failure: function (response) {
			$('#btnSearchPost').prop('disabled', false);
			showNoticeDanger('Search Error');
		},
		error: function (response) {
			$('#btnSearchPost').prop('disabled', false);
			showNoticeDanger('Search Error');
		}
	});
	$('#btnSearchPost').prop('disabled', false);
}

$('#btnSave').click(function(){
	$(this).prop('disabled', true);
	saveInsert();
});

$('#btnSaveAs').click(function(){
	$(this).prop('disabled', true);
	$('#idHidden').val('');
	$('#id').val('');
	saveInsert();
	$(this).prop('disabled', false);
});

function chekValueAndSubmit(){
	if(($('#name').val().length < 1) || ($('#name').val().length > 200)) {
		var message = formatMessage(language.name + ": "+ language.Message_Invalid_name, '1','200');
		alert(message);
		return false;
	}
	document.getElementById("formsys_companies").submit();
}

function getDataForm(){
	if(($('#name').val().length < 1) || ($('#name').val().length > 200)) {
		var message = formatMessage(language.name + ": "+ language.Message_Invalid_name, '1','200');
		alert(message);
		return false;
	}
	return {
		'idHidden' : $('#idHidden').val(),
		'id' : $('#id').val(),
		'name' : $('#name').val(),
		'address' : $('#address').val(),
		'email1' : $('#email1').val(),
		'phone_number1' : $('#phone_number1').val(),
		'note' : $('#note').val(),
		'bank_account_number1' : $('#bank_account_number1').val(),
		'bank_name1' : $('#bank_name1').val(),
		'status' : $('#status').val(),
	}
}

function saveInsert(){
	let data = getDataForm();
	if(data == false) {
		$('#btnSave').prop('disabled', false);
		return false;
	}
	var link = linkPrefix + 'save';
	$.ajax({
		type: 'post',
		url: link,
		data: data,
		dataType: "json",
		success: function(response){
			var success = response.success;
			var result 	= response.data;
			if((success == 'false') || (success == false))
				showNoticeDanger(language.Message_AddNewError + ' ('+response.message+')');
			else if((success != true) && (success != 'true'))
				showNoticeDanger(result.message);
			else {
				insertRow(result.data);
				clearForm();
			}
		},
		failure: function (response) {
			showErrorMessageSave(response, language.Message_AddNewError);
		},
		error: function (response) {
			showErrorMessageSave(response, language.Message_AddNewError);
		},
	});
	$('#btnSave').prop('disabled', false);
}

function insertRow(data){
	showAllColumnInTable(idMainTable);
	showNoticeSuccess(language.Message_AddNewSuccess);
	var table = document.getElementById("bodyTablesys_companies");
	var row = table.insertRow(0);
	var cell0 = row.insertCell(0);
	var cell1 = row.insertCell(1);
	var cell2 = row.insertCell(2);
	var cell3 = row.insertCell(3);
	var cell4 = row.insertCell(4);
	var cell5 = row.insertCell(5);
	var cell6 = row.insertCell(6);
	var cell7 = row.insertCell(7);
	var cell8 = row.insertCell(8);
	var cell9 = row.insertCell(9);
	var cell10 = row.insertCell(10);
	let check= `<div class="custom-control custom-checkbox"> 
					<input class="custom-control-input" type="checkbox" name="chkListData" id="${data.id}" value="${data.id}">
					<label for="${data.id}" class="custom-control-label"></label>
				</div>`;
	cell0.innerHTML = check;
	cell1.innerHTML = data.id;
	cell2.innerHTML = data.name;
	cell3.innerHTML = data.address;
	cell4.innerHTML = data.email1;
	cell5.innerHTML = data.phone_number1;
	cell6.innerHTML = data.note;
	cell7.innerHTML = data.bank_account_number1;
	cell8.innerHTML = data.bank_name1;
	cell9.innerHTML = data.status;
	let strbutton = " <a  onclick=\"getById('"+data.id+"')\" type=\"button\" class=\"rounded-circle btn btn-sm btn-info\" title=\"Edit\">" +
		"<i class=\"fas fa-pencil-alt\"></i>" + 
		"</a> " + 
		" <button type=\"button\" class=\"rounded-circle btn btn-sm btn-danger\" data-id=\""+data.id+"\" title=\"Delete\"  onclick=\"deleteById(this,"+data.id+",'" + data.name + "')\">";
	strbutton += " <i class=\"fas fa-trash-alt\"></i> ";
	strbutton += " </ button > ";
	cell10.innerHTML = strbutton;
	hideColumnInTable(idMainTable);
}

$('#btnUpdate').click(function(){
	$(this).prop('disabled', true);
	saveUpdate();
});

function saveUpdate(){
	let data = getDataForm();
	if(data == false) {
		$('#btnUpdate').prop('disabled', false);
		return false;
	}
	if(data.idHidden == ""){
		$('#btnUpdate').prop('disabled', false);
		showNoticeDanger(language.Message_HaveNotSelectedItemUpdate);
		return false;
	}
	var link = linkPrefix + 'update';
	$.ajax({
		type: 'put',
		url: link,
		data: data,
		dataType: "json",
		success: function(response){
			var success = response.success;
			var result 	= response.data;
			if((success == 'false') || (success == false) ){
				showNoticeDanger(language.Message_UpdateError);
				return false;
			}
			else if((success != true) && (success != 'true')){
				showNoticeDanger(result.message);
				return false;
			}
			else {
				updateRow(result.data);
				clearForm();
			}
		},
		failure: function (response) {
			showErrorMessageSave(response, language.Message_UpdateError);
		},
		error: function (response) {
			showErrorMessageSave(response, language.Message_UpdateError);
		}
	});
	$('#btnUpdate').prop('disabled', false);
}

function updateRow(data){
	showNoticeSuccess(language.Message_UpdateSuccess);
	showAllColumnInTable(idMainTable);
	$("#modaMainForm").modal('hide');
	var row = $("#tablesys_companies button[data-id='" + data.id + "']").parents("tr")[0];
	var tr = "<tr>"+
		"<td class=\"text-center\">" +
			"<div class=\"custom-control custom-checkbox\">"+ 
				"<input class=\"custom-control-input\" type=\"checkbox\" name=\"chkListData\" id=\"" + data.id + "\" value=\"" + data.id + "\"> "+
				"<label for=\"" + data.id + "\" class=\"custom-control-label\"></label> "+
			"</div>"+
		"</td>";
		tr +=  "<td class=\"text-center\">" + data.id + "</td>";
		tr +=  "<td class=\"text-center\">" + data.name + "</td>";
		tr +=  "<td class=\"text-center\">" + data.address + "</td>";
		tr +=  "<td class=\"text-center\">" + data.email1 + "</td>";
		tr +=  "<td class=\"text-center\">" + data.phone_number1 + "</td>";
		tr +=  "<td class=\"text-center\">" + data.note + "</td>";
		tr +=  "<td class=\"text-center\">" + data.bank_account_number1 + "</td>";
		tr +=  "<td class=\"text-center\">" + data.bank_name1 + "</td>";
		tr +=  "<td class=\"text-center\">" + data.status + "</td>";
		tr += "<td class=\"text-center\">" +
			" <a  onclick=\"getById('"+data.id+"')\" type=\"button\" class=\"rounded-circle btn btn-sm btn-info\" title=\"Edit\">" +
				" <i class=\"fas fa-pencil-alt\"></i>" +
			" </a>" +
			" <button type=\"button\" class=\"rounded-circle btn btn-sm btn-danger\" data-id=\""+data.id+"\" title=\"Delete\"  onclick=\"deleteById(this,'"+data.id+"','"+data.name+"')\">" +
				" <i class=\"fas fa-trash-alt\"></i> " +
			" </button> " +
		" </td>" +
	" </tr>";
	$(row).after(tr);
	$(row).remove();
	hideColumnInTable(idMainTable);
}
function deleteById(row, objectId, objectName){
	var message=language.Message_DoYouWantToDeleteById + ' '+ objectId +' ('+objectName+')? ';
	var answer = confirm(message)
	if (!answer){	return false; } 
	let data = {
		'id' : objectId
	};
	var link = linkPrefix+'deleteById';
	$.ajax({
		type	: 'delete',
		url		: link,
		data	: data,
		dataType: "json",
		success	: function(resultdata){
			var success = resultdata.success;
			var message = resultdata.message;
			var notice 	= {};
			if((success == 'true') || (success == true)){
				showNoticeSuccess(language.Message_DeleteSuccess);
				var i = row.parentNode.parentNode.rowIndex;
				document.getElementById("tablesys_companies").deleteRow(i);
				return true;
			}
			else if((success=='false')||(success==false)) {
				showNoticeDanger(language.Message_DeleteFail);
				return false;
			}
			else if(message.length > 10){
				showNoticeDanger(message);
				return false;
			}
			else {
				showNoticeDanger(language.Message_DeleteFail);
				return false;
			}
		},
		failure: function (response) {
			showNoticeDanger(language.Message_DeleteFail);
		},
		error: function (response) {
			showNoticeDanger(language.Message_DeleteFail);
		}
	});
}

$('#btnDelete').click(function(){
	$(this).prop('disabled', true);
	deleteList();
	$(this).prop('disabled', false);
});
function deleteList(){
	var arrayId = [];
	var listId 	= " ";
	$("input:checkbox[name=chkListData]:checked").each(function(){
		arrayId.push($(this).val());
		listId += $(this).val() + ',';
	});
	let message =  language.Message_DoYouWantToDeleteInTheList  +' '+ listId+'?';
	var answer = confirm(message)
	if (!answer){	return false; } 
	let data = { arrayId };
	var link = linkPrefix+'deleteList';
	$.ajax({
		type	: 'delete',
		url		: link,
		data	: data,
		dataType: "json",
		success	: function(resultdata){
			var result = resultdata.data;
			var success = result.success;
			var message = result.message;
			if((success == 'true') || (success == true)){
				let deleteSuccess = result.deleteSuccess;
				let deleteError = result.deleteError;
				if(deleteSuccess.length > 0){
					let message = language.Message_DeleteSuccess;
					message += " "+ deleteSuccess.toString();
					if(deleteError.length > 0){
						message += " \n"+  language.Message_DeleteFail + " "+ deleteError.toString();
					}
					showNoticeSuccess(message);
					deleteRows(arrayId,"bodyTablesys_companies");
					return true;
				}
				else if(deleteError.length > 0){
					let message = language.Message_DeleteFail + " "+ deleteError.toString();
					showNoticeDanger(message);
				}
				else{
					showNoticeDanger(language.Message_DeleteFail);
				}
			}
			else if((success == 'false') || (success == false)){
				showNoticeDanger(language.Message_DeleteFail);
				return false;
			}
		},
		failure: function (response) {
			showNoticeDanger(language.Message_DeleteFail);
		},
		error: function (response) {
			showNoticeDanger(language.Message_DeleteFail);
		}
	});
}

$('#btnExport').click(function(){
	$(this).prop('disabled', true);
	exportData();
	$(this).prop('disabled', false);
});

function exportData(){
	let data = {
		'name' : $('#name').val(),
		'address' : $('#address').val(),
		'email1' : $('#email1').val(),
		'phone_number1' : $('#phone_number1').val(),
		'note' : $('#note').val(),
		'bank_account_number1' : $('#bank_account_number1').val(),
		'bank_name1' : $('#bank_name1').val(),
		'status' : $('#status').val(),
	}
	var link = linkPrefix + 'exportData';
	$.ajax({
		type: 'post',
		url: link,
		data: data,
		dataType: "json",
		success: function(resultdata){
			$('#btnExport').prop('disabled', false);
			let result = resultdata.data;
			showNoticeSuccess(language.Message_CompletedGetData);
			ExportToExcel(result);
		},
		failure: function (response) {
			$('#btnExport').prop('disabled', false);
			showNoticeDanger('Export Error');
		},
		error: function (response) {
			$('#btnExport').prop('disabled', false);
			showNoticeDanger('Export Error');
		}
	});
	$('#btnExport').prop('disabled', false);
}

function ExportToExcel(datas){
	let itemCount = datas.length; 
	if(itemCount > 1000) {
		showNoticeDanger(language.Message_WarningWhenExportingDataTooMuch);
	}
	if(itemCount < 1) {
		showNoticeDanger(language.Message_NotFoundData);
	}
	var strTable = '<style type="text/css">';
	strTable += ' .Border { ';
	strTable += '         color: windowtext; ';
	strTable += '         font-size: 11.0pt; ';
	strTable += '         word-break:break-all;';
	strTable += '         font-style: normal; ';
	strTable += '         text-decoration: none; ';
	strTable += '         font-family: "Times New Roman", serif; ';
	strTable += '         text-align: left; ';
	strTable += '         vertical-align: bottom;';
	strTable += '         border-left: .5pt solid windowtext; ';
	strTable += '         border-right: .5pt solid windowtext; ';
	strTable += '         border-top: .5pt solid windowtext; ';
	strTable += '         border-bottom: .5pt solid windowtext; ';
	strTable += '         padding-left: 1px; ';
	strTable += '         padding-right: 1px; ';
	strTable += '         padding-top: 1px; ';
	strTable += '     } ';

	strTable += ' .BorderHeader { ';
	strTable += '        color: white; ';
	strTable += '         background-color:#0026ff; ';
	strTable += '        font-size: 11.0pt; ';
	strTable += '        text-align: center; ';
	strTable += '        font-style: normal; ';
	strTable += '        text-decoration: none; ';
	strTable += '        font-family: "Times New Roman", serif; ';
	strTable += '        vertical-align: bottom;';
	strTable += '        border-left: .5pt solid windowtext; ';
	strTable += '        border-right: .5pt solid windowtext; ';
	strTable += '        border-top: .5pt solid windowtext; ';
	strTable += '        border-bottom: .5pt solid windowtext; ';
	strTable += '        padding-left: 1px; ';
	strTable += '        padding-right: 1px; ';
	strTable += '        padding-top: 1px; ';
	strTable += '     } ';
	strTable += '  </style> ';
	strTable += ' <table id="testTable"  border="1" frame="hsides" rules="groups" summary="Code page support in different versions of MS Windows."> ';
	strTable += '<tr class="BorderHeader" style="background - color:#0026ff; color:#fff"> ';
	strTable += '<th class="BorderHeader" >Order</th> ';
	strTable += '<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Id </th> ';
	strTable += '<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Name </th> ';
	strTable += '<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Address </th> ';
	strTable += '<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Email </th> ';
	strTable += '<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Phone Number </th> ';
	strTable += '<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Note </th> ';
	strTable += '<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Bank Number </th> ';
	strTable += '<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Bank Name </th> ';
	strTable += '<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Status </th> ';
	strTable += '</tr> ';
	var n = 0;
	var currentRow = 4;
	for(var i = 0; i < itemCount; i++) {
		var vTemp = datas[i];
		currentRow += 1;
		 n += 1;
		strTable += '<tr >';
		strTable += '<th class="Border" > ' + n + ' </th> ';
		 strTable += '<th  class="Border" > ' + vTemp.id + ' </th> ';
		 strTable += '<th  class="Border" > ' + vTemp.name + ' </th> ';
		 strTable += '<th  class="Border" > ' + vTemp.address + ' </th> ';
		 strTable += '<th  class="Border" > ' + vTemp.email1 + ' </th> ';
		 strTable += '<th  class="Border" > ' + vTemp.phone_number1 + ' </th> ';
		 strTable += '<th  class="Border" > ' + vTemp.note + ' </th> ';
		 strTable += '<th  class="Border" > ' + vTemp.bank_account_number1 + ' </th> ';
		 strTable += '<th  class="Border" > ' + vTemp.bank_name1 + ' </th> ';
		 strTable += '<th  class="Border" > ' + vTemp.status + ' </th> ';
		strTable += '</tr>';
	}
	strTable += ' </table> ';
	ExportHtmlToExcel(strTable, 'sys_companies');
	showNoticeSuccess(language.Message_ExportSuccess);
}

</script>
