<%- include ('./../helpers/pagination') %>
	<% const collection="sys_CustomSettings" ; const linkPrefix=systemConfig.prefixAdmin + `/${collection}/`; %>
		<%- include ('./../elements/notify') %>
			<div class="container-fluid">
				<input name="linkPrefix" id="linkPrefix" type="hidden" value="<%= linkPrefix %>">
				<input name="params" id="params" type="hidden" value="<%= params %>">

				&nbsp; &nbsp; <button type="button" id="btnOpenForm" class="btn btn-primary" data-toggle="modal"
					data-target="#modaMainForm">
					<i class="fas fa-plus"></i> Add new
				</button>
				&nbsp; <button type="button" id="btnDelete" class="btn btn-sm btn-danger" title="Delete">
					<i class="fas fa-trash-alt"></i> Delete
				</button>

				&nbsp; <button type="button" id="btnOpenFormSearch" class="btn btn-sm btn-primary" title="Search">
					<i class="fa fa-search"></i> Search
				</button>

				&nbsp; <button type="button" id="btnExport" class="btn btn-sm btn-success" title="Export">
					<i class="fa fa-download"></i> Export
				</button>



				<!-- ================ Modal From ===================================================================== -->
				<div class="modal fade" id="modaMainForm" data-backdrop="static" data-keyboard="true" tabindex="-1"
					role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-xl" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Add New & Edit</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form role="form" name="formCustomSettings" action="<%= linkPrefix %>save/"
									method="post" class="mb-0" id="formCustomSettings" enctype="multipart/form-data"
									autocomplete="off">


									<!-- <form role="form" name="formCustomSettings" action="<%= linkPrefix %>save/" method="post" class="mb-0"
									id="formCustomSettings" enctype="multipart/form-data"> -->
									<div class="form-group row">
										<label id="labKeySettings"
											class="col-sm-2 col-form-label text-sm-right required">Key
											Settings</label>
										<div class="col-xs-10 col-sm-10">
											<input type="text" name="KeySettings" id="KeySettings"
												value="<%= item.KeySettings %>" class="form-control form-control-sm">
										</div>
										<label id="labImage"
											class="col-sm-2 col-form-label text-sm-right ">Image</label>
										<div class="col-xs-10 col-sm-10">
											<input type="file" name="ImageSettings" id="ImageSettings"
												class="form-control form-control-sm">

										</div>
										<label id="labUseCKEditor"
											class="col-sm-2 col-form-label text-sm-right required">Use
											CKEditor</label>
										<div class="col-xs-10 col-sm-10">

											<label><input type="radio" name="UseCKEditor" id="UseCKEditor_true"
													value="true">
												Yes</label> &nbsp;&nbsp;&nbsp;
											<label><input type="radio" name="UseCKEditor" id="UseCKEditor_false"
													value="false">
												No</label>
										</div>
										<label id="labValue"
											class="col-sm-2 col-form-label text-sm-right required">Value</label>
										<div class="col-xs-10 col-sm-10">
											<input type="text" name="Value" id="Value" value="<%= item.Value %>"
												class="form-control form-control-sm">
										</div>
										<label id="labDefaultValue"
											class="col-sm-2 col-form-label text-sm-right required">Default
											Value</label>
										<div class="col-xs-10 col-sm-10">
											<input type="text" name="DefaultValue" id="DefaultValue"
												value="<%= item.DefaultValue %>" class="form-control form-control-sm">
										</div>
										<label id="labLocation"
											class="col-sm-2 col-form-label text-sm-right required">Location</label>
										<div class="col-xs-10 col-sm-10">
											<select id="Location" name="Location" class="custom-select form-control-sm">
												<option value="novalue" selected="">- Select location -</option>
												<option value="General" <%=(item.location=="General"
													)? 'selected="selected"' : '' %>
													>General</option>
												<option value="Banner left" <%=(item.location=="Banner left" )
													? 'selected="selected"' : '' %> >Banner left</option>
												<option value="Banner right" <%=(item.location=="Banner right" )
													? 'selected="selected"' : '' %> >Banner right</option>
												<option value="Sidebar right" <%=(item.location=="Sidebar right" )
													? 'selected="selected"' : '' %> >Sidebar right</option>
												<option value="Adertisement end-of-page"
													<%=(item.location=="Adertisement end-of-page" )
													? 'selected="selected"' : '' %> >Adertisement end-of-page</option>
												<option value="Footer" <%=(item.location=="Footer" )
													? 'selected="selected"' : '' %>
													>Footer</option>
											</select>


										</div>
										<label id="labStartTime"
											class="col-sm-2 col-form-label text-sm-right required">Start
											Time</label>
										<div class="col-xs-2 col-sm-2">
											<input type="date" name="StartTime" id="StartTime"
												class="form-control form-control-sm">
										</div>
										<div class="col-xs-8 col-sm-8">
										</div>

										<label id="labEndTime"
											class="col-sm-2 col-form-label text-sm-right required">End
											Time</label>
										<div class="col-xs-2 col-sm-2">
											<input type="date" name="EndTime" id="EndTime"
												class="form-control form-control-sm">
										</div>
										<div class="col-xs-8 col-sm-8">
										</div>
										<label id="labDescription"
											class="col-sm-2 col-form-label text-sm-right ">Description</label>
										<div class="col-xs-10 col-sm-10">
											<input type="text" name="Description" id="Description"
												value="<%= item.Description %>" class="form-control form-control-sm">
										</div>
										<label id="labStatus"
											class="col-sm-2 col-form-label text-sm-right required">Status
											Using</label>
										<div class="col-xs-10 col-sm-10">
											<label><input type="radio" id="Status_true" name="Status" value="yes">
												Yes</label> &nbsp;&nbsp;&nbsp;
											<label><input type="radio" id="Status_false" name="Status" value="no">
												No</label>
										</div>
										<label id="labOrdering"
											class="col-sm-2 col-form-label text-sm-right ">Ordering</label>
										<div class="col-xs-10 col-sm-10">
											<input type="number" name="Ordering" id="Ordering"
												value="<%= item.Ordering %>" class="form-control form-control-sm">
										</div>

										<label id="labIsSystem"
											class="col-sm-2 col-form-label text-sm-right required">Is
											System</label>
										<div class="col-xs-10 col-sm-10">

											<label><input type="radio" id="IsSystem_true" name="IsSystem" value="yes">
												Yes</label> &nbsp;&nbsp;&nbsp;
											<label><input type="radio" id="IsSystem_false" name="IsSystem" value="no">
												No</label>
										</div>
									</div>
									<div class="form-group row">
										<div class="col-xs-2 col-sm-2"></div>
										<div class="col-xs-10 col-sm-10">

										</div>
									</div>
									<div class="form-group row">
										<div class="text-success" id="divMessage"></div>
									</div>
									<input name="Image_old" id="Image_old" type="hidden">
									<input name="action" id="action" type="hidden">
								</form>
								<input name="KeySettingsHidden" id="KeySettingsHidden" type="hidden">
								<input name="listData" id="listData" type="hidden" value="<%= itemString %>">
								<input name="sysLanguage" id="sysLanguage" type="hidden" value="<%= language %>">

							</div>//4
							<div class="modal-footer">
								&nbsp; <button type="button" id="btnClose1" data-dismiss="modal"
									class="btn btn-sm btn-success" title="Close">
									<i class="fa fa-mail-reply"></i> Close
								</button>
								&nbsp; <button type="button" id="btnSave" class="btn btn-sm btn-success" title="Save">
									<i class="fa fa-check"></i> Save
								</button>
								&nbsp; <button type="button" id="btnUpdate" class="btn btn-sm btn-primary"
									title="Update">
									<i class="fa fa-check"></i> Update
								</button>

								&nbsp; <button type="button" id="btnSearchPost" class="btn btn-sm btn-primary"
									title="Search">
									<i class="fa fa-search"></i> Search
								</button>
								<!-- &nbsp; <input type="button" id="btnSearchPost" class="btn-sm btn-info" value="Search"> -->

							</div>
							<!-- ===================================================================== -->
							<div class="card card-info card-outline collapsed-card">
								<!-- // Underline -->
							</div>

						</div> <!-- End <div class="modal-content">  -->
					</div>
				</div>
				<!-- ================ End Modal From ===================================================================== -->


				<div class="card card-info card-outline">
					<div class="card-header">
						<h4 class="card-title">List data</h4>
						<div class="card-tools">
							<button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
								title="Collapse"><i class="fas fa-minus"></i></button>
						</div>
					</div>
					<div class="card-body">
						<table id="tableSys_CustomSettings" class="table table-bordered table-hover btn-table mb-0">
							<thead>
								<tr>
									<th class="text-center">
										<div class="custom-control custom-checkbox">
											<input class="custom-control-input cbAll" type="checkbox" id="check-all">
											<label for="check-all" class="custom-control-label"></label>
										</div>
									</th>
									<th class="text-center"><label id="labKeySettings_tb">Key Settings</label></a>
									</th>
									<th class="text-center"><label id="labImage_tb">Image</label></a></th>
									<!-- <th class="text-center"><label id="labUseCKEditor_tb">Use CKEditor</label></a>
									</th> -->
									<th class="text-center"><label id="labValue_tb">Value</label></a></th>
									<!-- <th class="text-center"><label id="labDefaultValue_tb">Default Value</label></a>
									</th> -->
									<th class="text-center"><label id="labLocation_tb">Location</label></a></th>
									<th class="text-center"><label id="labStartTime_tb">Start Time</label></a></th>
									<th class="text-center"><label id="labEndTime_tb">End Time</label></a></th>
									<!-- <th class="text-center"><label id="labDescription_tb">Description</label></a>
									</th> -->
									<th class="text-center"><label id="labStatus_tb">Status Using</label></a></th>
									<th class="text-center"><label id="labOrdering_tb">Ordering</label></a></th>
									<!-- <th class="text-center"><label id="labIsSystem_tb">Is System</label></a></th> -->
									<th class="text-center">Action</a></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th class="text-center"></a></th>
									<th class="text-center"></a></th>
									<th class="text-center"></a></th>
									<th class="text-center"></a></th>
									<th class="text-center"></a></th>
									<th class="text-center"></a></th>
									<th class="text-center"></a></th>
									<th class="text-center"></a></th>
									<th class="text-center"></a></th>
									<!-- <th class="text-center"></a></th>
									<th class="text-center"></a></th>
									<th class="text-center"></a></th>
									<th class="text-center"></a></th> -->
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="card-footer clearfix" id="paginationSys_CustomSettings">
				</div>
			</div>
			<script type="application/javascript">
				var language={};

				onLoadData();
				function onLoadData() {
					getLanguage();
					setUpdateButtonStatus(false)
					setInterfaceText();
					var strData=$('#listData').val();
					const arrData=JSON.parse(strData);
					if(arrData.length>0) {
						displayDataToTable(arrData);
						var paramsString=$('#params').val();
						const params=JSON.parse(paramsString);
						var linkPrefix=$('#linkPrefix').val();
						paginationHelper(params.pagination,"Sys_CustomSettings",params.currentStatus,params.keyword,linkPrefix,"paginationSys_CustomSettings");
					}
				}

				function displayDataToTable(datas) {
					var link=$('#linkPrefix').val();
					link=createLinkImage(link);

					var table=document.getElementById("tableSys_CustomSettings");
					var lengthtable=table.rows.length-1;
					for(var n=lengthtable;n>0;n--) {
						table.deleteRow(n);
					}
					var length=datas.length;
					if(length<1) {
						showNoticeDanger(language.Message_NotFoundData);
						return false;
					}
					$("#modaMainForm").modal('hide');
					datas.forEach(function(data) {
						var row=table.insertRow(1);
						var cell0=row.insertCell(0);
						var cell1=row.insertCell(1);
						var cell2=row.insertCell(2);
						var cell3=row.insertCell(3);
						var cell4=row.insertCell(4);
						var cell5=row.insertCell(5);
						var cell6=row.insertCell(6);
						var cell7=row.insertCell(7);
						var cell8=row.insertCell(8);
						var cell9=row.insertCell(9);
						// var cell10 = row.insertCell(10);
						// var cell11 = row.insertCell(11);
						// var cell12 = row.insertCell(12);
						// var cell13 = row.insertCell(13);
						let check=`<div class="custom-control custom-checkbox"> 
				<input class="custom-control-input" type="checkbox" name="chkListData" id="${data.KeySettings}" value="${data.KeySettings}">
				<label for="${data.KeySettings}" class="custom-control-label"></label>
			</div>`;
						cell0.innerHTML=check;
						cell1.innerHTML=data.KeySettings;
						cell2.innerHTML=`<img src=\"${link}${data.Image}\" alt="" width=\"100\" >`;
						// cell3.innerHTML = data.UseCKEditor;
						cell3.innerHTML=data.Value;
						// cell5.innerHTML = data.DefaultValue;
						cell4.innerHTML=data.Location;
						cell5.innerHTML=dateToStringMMM(data.StartTime,'-');
						cell6.innerHTML=dateToStringMMM(data.EndTime,'-');
						// cell9.innerHTML = data.Description;
						cell7.innerHTML=data.Status;
						cell8.innerHTML=data.Ordering;
						// cell12.innerHTML = data.IsSystem;
						let strbutton=" <a  onclick=\"getById('"+data.KeySettings+"')\" type=\"button\" class=\"rounded-circle btn btn-sm btn-info\" title=\"Edit\">"+
							"<i class=\"fas fa-pencil-alt\"></i>"+
							"</a> "+
							" <button type=\"button\" class=\"rounded-circle btn btn-sm btn-danger\" data-id=\""+data.KeySettings+"\" title=\"Delete\"  onclick=\"deleteById(this,'"+data.KeySettings+"')\">";
						strbutton+=" <i class=\"fas fa-trash-alt\"></i> ";
						strbutton+=" </ button > ";
						cell9.innerHTML=strbutton;
					});
				}
				function setUpdateButtonStatus(statusUpdate) {
					$('#btnSave').prop('hidden',statusUpdate);
					$('#btnUpdate').prop('hidden',!statusUpdate);
				}

				function getLanguage() {
					var languageString=$('#sysLanguage').val();
					language=JSON.parse(languageString);
				}

				function setInterfaceText() {
					$("#pageTitle").html(language.TitlePage);
					$("#labKeySettings").text(language.KeySettings);
					$("#labImage").text(language.Image);
					$("#labUseCKEditor").text(language.UseCKEditor);
					$("#labValue").text(language.Value);
					$("#labDefaultValue").text(language.DefaultValue);
					$("#labLocation").text(language.Location);
					$("#labStartTime").text(language.StartTime);
					$("#labEndTime").text(language.EndTime);
					$("#labDescription").text(language.Description);
					$("#labStatus").text(language.Status);
					$("#labOrdering").text(language.Ordering);
					$("#labIsSystem").text(language.IsSystem);
					$("#labKeySettings_tb").text(language.KeySettings);
					$("#labImage_tb").text(language.Image);
					$("#labUseCKEditor_tb").text(language.UseCKEditor);
					$("#labValue_tb").text(language.Value);
					$("#labDefaultValue_tb").text(language.DefaultValue);
					$("#labLocation_tb").text(language.Location);
					$("#labStartTime_tb").text(language.StartTime);
					$("#labEndTime_tb").text(language.EndTime);
					$("#labDescription_tb").text(language.Description);
					$("#labStatus_tb").text(language.Status);
					$("#labOrdering_tb").text(language.Ordering);
					$("#labIsSystem_tb").text(language.IsSystem);
				}

				function getById(Id) {
					var link=$('#linkPrefix').val()+'getById/'+Id;
					$.ajax({
						type: 'GET',
						url: link,
						dataType: "json",
						success: function(resultdata) {
							var success=resultdata.success;
							if(success==true) {
								showDataToForm(resultdata.data);
							}
						},
						failure: function(response) {
							alert(language.Message_GetItemByIdError);
						},
						error: function(response) {
							alert(language.Message_GetItemByIdError);
						},
					});
				}

				function showDataToForm(data) {
					try {
						setUpdateButtonStatus(true);
						$("#modaMainForm").modal('show');
						$('#KeySettingsHidden').val(data.KeySettings);
						$("#KeySettings").prop("readonly",true);
						$('#KeySettings').val(data.KeySettings);
						$('#Image_old').val(data.Image);
						if(data.UseCKEditor==true) {
							document.getElementById('UseCKEditor_true').checked=true;
						} else {
							document.getElementById('UseCKEditor_false').checked=true;
						}


						$('#Value').val(data.Value);
						$('#DefaultValue').val(data.DefaultValue);
						$('#Location').val(data.Location);

						$('#StartTime').val(getDate(data.StartTime));
						$('#EndTime').val(getDate(data.EndTime));

						$('#Description').val(data.Description);
						if(data.Status==true) {
							document.getElementById('Status_true').checked=true;
						} else {
							document.getElementById('Status_false').checked=true;
						}

						$('#Ordering').val(data.Ordering);
						if(data.IsSystem==true) {
							document.getElementById('IsSystem_true').checked=true;
						} else {
							document.getElementById('IsSystem_false').checked=true;
						}
						$('#action').val('edit');


					}
					catch(error) {}
				}

				function clearForm() {
					try {
						$('#action').val('');
						$('#KeySettingsHidden').val('');
						setUpdateButtonStatus(false)
						$("#KeySettings").prop("readonly",false);
						$('#KeySettings').val('');
						$('#Image').val('');
						$('#UseCKEditor').val('');
						$('#Value').val('');
						$('#DefaultValue').val('');
						$('#Location').val('');
						$('#StartTime').val('');
						$('#EndTime').val('');
						$('#Description').val('');
						$('#Status').val('');
						$('#Ordering').val('');
						$('#IsSystem').val('');
					}
					catch(error) {}
				}

				$('#btnOpenFormSearch').click(function() {
					$("#modaMainForm").modal('show');
				});

				$('#btnSearchPost').click(function() {
					$(this).prop('disabled',true);
					getContentPages(1);
				});

				function getContentPages(page) {
					let data={
						'Page': page,
						'KeySettings': $('#KeySettings').val(),
						'Image': $('#Image').val(),
						'Value': $('#Value').val(),
						'DefaultValue': $('#DefaultValue').val(),
						'Location': $('#Location').val(),
						'Description': $('#Description').val(),
					}
					var link=$('#linkPrefix').val()+'search';
					$.ajax({
						type: 'POST',
						url: link,
						data: data,
						dataType: "json",
						success: function(resultdata) {
							$('#btnSearchPost').prop('disabled',false);
							let result=resultdata.result;
							displayDataToTable(result);
							var linkPrefix=$('#linkPrefix').val();
							let params=resultdata.params;
							paginationHelper(params.pagination,"Sys_CustomSettings","","",linkPrefix,"paginationSys_CustomSettings");

							if(params.pagination.totalItems>0) {
								var message=language.Message_Find+params.pagination.totalItems+language.Message_Words_records;
								showNoticeSuccess(message);
							}
						},
						failure: function(response) {
							$('#btnSearchPost').prop('disabled',false);
							showNoticeDanger('Search Error');
						},
						error: function(response) {
							$('#btnSearchPost').prop('disabled',false);
							showNoticeDanger('Search Error');
						}
					});
					$('#btnSearchPost').prop('disabled',false);
				}

				$('#btnSave').click(function() {
					$(this).prop('disabled',true);
					chekValueAndSubmit();
					$(this).prop('disabled',false);
				});
				function chekValueAndSubmit() {
					if(($('#KeySettings').val().length<1)||($('#KeySettings').val().length>50)) {
						var message=formatMessage(language.KeySettings+": "+language.Message_Invalid_KeySettings,'1','50');
						alert(message);
						return false;
					}

					var form=document.getElementById("formCustomSettings");
					var UseCKEditor=form.elements["UseCKEditor"].value;
					if(UseCKEditor=="") {
						var message=formatMessage(language.UseCKEditor+": "+language.Message_Invalid_UseCKEditor,'','');
						alert(message);
						return false;
					}

					if(($('#Value').val().length<1)||($('#Value').val().length>1000)) {
						var message=formatMessage(language.Value+": "+language.Message_Invalid_Value,'1','1000');
						alert(message);
						return false;
					}
					if(($('#DefaultValue').val().length<1)||($('#DefaultValue').val().length>1000)) {
						var message=formatMessage(language.DefaultValue+": "+language.Message_Invalid_DefaultValue,'1','1000');
						alert(message);
						return false;
					}
					if(($('#Location').val()=='novalue')) {
						var message=formatMessage(language.Location+": "+language.Message_Invalid_Location,'1','50');
						alert(message);
						return false;
					}

					var StartTime=new Date($('#StartTime').val());
					if(StartTime=='Invalid Date') {
						var message=formatMessage(language.StartTime+": "+language.Message_Invalid_StartTime,'','');
						alert(message);
						return false;
					}

					var EndTime=new Date($('#EndTime').val());
					if(EndTime=='Invalid Date') {
						var message=formatMessage(language.EndTime+": "+language.Message_Invalid_EndTime,'','');
						alert(message);
						return false;
					}
					var Status=form.elements["Status"].value;
					if(Status=="") {
						var message=formatMessage(language.Status+": "+language.Message_Invalid_Status,'','');
						alert(message);
						return false;
					}

					var IsSystem=form.elements["IsSystem"].value;
					if(IsSystem=="") {
						var message=formatMessage(language.IsSystem+": "+language.Message_Invalid_IsSystem,'','');
						alert(message);
						return false;
					}
					document.getElementById("formCustomSettings").submit();

				}


				$('#btnUpdate').click(function() {
					$(this).prop('disabled',true);
					chekValueAndSubmit();
					$(this).prop('disabled',false);
				});
				function deleteById(row,IdObject) {
					let message=language.Message_DoYouWantToDeleteById+' '+IdObject+'?';
					var answer=confirm(message)
					if(!answer) {return false;}
					let data={
						'KeySettings': IdObject
					};
					var link=$('#linkPrefix').val()+'deleteById';
					$.ajax({
						type: 'delete',
						url: link,
						data: data,
						dataType: "json",
						success: function(resultdata) {
							var success=resultdata.success;
							var message=resultdata.message;
							var notice={};
							if((success=='true')||(success==true)) {
								showNoticeSuccess(language.Message_DeleteSuccess);
								var i=row.parentNode.parentNode.rowIndex;
								document.getElementById("tableSys_CustomSettings").deleteRow(i);
								return true;
							}
							else if(message.length>10) {
								showNoticeDanger(message);
								return false;
							}
							else {
								showNoticeDanger(language.Message_DeleteFail);
								return false;
							}
						},
						failure: function(response) {
							showNoticeDanger(language.Message_DeleteFail);
						},
						error: function(response) {
							showNoticeDanger(language.Message_DeleteFail);
						}
					});
				}

				$('#btnDelete').click(function() {
					$(this).prop('disabled',true);
					deleteList();
					$(this).prop('disabled',false);
				});
				function deleteList() {
					var arrayId=[];
					var listId=" ";
					$("input:checkbox[name=chkListData]:checked").each(function() {
						arrayId.push($(this).val());
						listId+=$(this).val()+' ';
					});
					let message=language.Message_DoYouWantToDeleteInTheList+' '+listId+'?';
					var answer=confirm(message)
					if(!answer) {return false;}
					let data={arrayId};
					var link=$('#linkPrefix').val()+'deleteList';
					$.ajax({
						type: 'delete',
						url: link,
						data: data,
						dataType: "json",
						success: function(resultdata) {
							var result=resultdata.result;
							var success=result.success;
							var message=result.message;
							if((success=='true')||(success==true)) {
								let deleteSuccess=result.deleteSuccess;
								let deleteError=result.deleteError;
								if(deleteSuccess.length>0) {
									let message=language.Message_DeleteSuccess;
									message+=" "+deleteSuccess.toString();
									if(deleteError.length>0) {
										message+=" \n"+language.Message_DeleteFail+" "+deleteError.toString();
									}
									showNoticeSuccess(message);
									deleteRows(arrayId,"tableSys_CustomSettings");
									return true;
								}
								else if(deleteError.length>0) {
									let message=language.Message_DeleteFail+" "+deleteError.toString();
									showNoticeDanger(message);
								}
								else {
									showNoticeDanger(language.Message_DeleteFail);
								}
							}
							else if((success=='false')||(success==false)) {
								showNoticeDanger(language.Message_DeleteFail);
								return false;
							}
						},
						failure: function(response) {
							showNoticeDanger(language.Message_DeleteFail);
						},
						error: function(response) {
							showNoticeDanger(language.Message_DeleteFail);
						}
					});
				}

				$('#btnExport').click(function() {
					$(this).prop('disabled',true);
					exportData();
					$(this).prop('disabled',false);
				});

				$('#btnOpenForm').click(function() {
					$("#modaMainForm").modal('show');
				});

				function exportData() {
					let data={
						'KeySettings': $('#KeySettings').val(),
						'Value': $('#Value').val(),
						'DefaultValue': $('#DefaultValue').val(),
						'Location': $('#Location').val(),
					}
					var link=$('#linkPrefix').val()+'exportData';
					$.ajax({
						type: 'post',
						url: link,
						data: data,
						dataType: "json",
						success: function(resultdata) {
							$('#btnExport').prop('disabled',false);
							let result=resultdata.result;
							showNoticeSuccess(language.Message_CompletedGetData);
							ExportToExcel(result);
						},
						failure: function(response) {
							$('#btnExport').prop('disabled',false);
							showNoticeDanger('Export Error');
						},
						error: function(response) {
							$('#btnExport').prop('disabled',false);
							showNoticeDanger('Export Error');
						}
					});
					$('#btnExport').prop('disabled',false);
				}

				function ExportToExcel(datas) {
					let itemCount=datas.length;
					if(itemCount>1000) {
						showNoticeDanger(language.Message_WarningWhenExportingDataTooMuch);
					}
					if(itemCount<1) {
						showNoticeDanger(language.Message_NotFoundData);
					}
					var strTable='<style type="text/css">';
					strTable+=' .Border { ';
					strTable+='         color: windowtext; ';
					strTable+='         font-size: 11.0pt; ';
					strTable+='         word-break:break-all;';
					strTable+='         font-style: normal; ';
					strTable+='         text-decoration: none; ';
					strTable+='         font-family: "Times New Roman", serif; ';
					strTable+='         text-align: left; ';
					strTable+='         vertical-align: bottom;';
					strTable+='         border-left: .5pt solid windowtext; ';
					strTable+='         border-right: .5pt solid windowtext; ';
					strTable+='         border-top: .5pt solid windowtext; ';
					strTable+='         border-bottom: .5pt solid windowtext; ';
					strTable+='         padding-left: 1px; ';
					strTable+='         padding-right: 1px; ';
					strTable+='         padding-top: 1px; ';
					strTable+='     } ';

					strTable+=' .BorderHeader { ';
					strTable+='        color: white; ';
					strTable+='         background-color:#0026ff; ';
					strTable+='        font-size: 11.0pt; ';
					strTable+='        text-align: center; ';
					strTable+='        font-style: normal; ';
					strTable+='        text-decoration: none; ';
					strTable+='        font-family: "Times New Roman", serif; ';
					strTable+='        vertical-align: bottom;';
					strTable+='        border-left: .5pt solid windowtext; ';
					strTable+='        border-right: .5pt solid windowtext; ';
					strTable+='        border-top: .5pt solid windowtext; ';
					strTable+='        border-bottom: .5pt solid windowtext; ';
					strTable+='        padding-left: 1px; ';
					strTable+='        padding-right: 1px; ';
					strTable+='        padding-top: 1px; ';
					strTable+='     } ';
					strTable+='  </style> ';
					strTable+=' <table id="testTable"  border="1" frame="hsides" rules="groups" summary="Code page support in different versions of MS Windows."> ';
					strTable+='<tr class="BorderHeader" style="background - color:#0026ff; color:#fff"> ';
					strTable+='<th class="BorderHeader" >Order</th> ';
					strTable+='<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Key Settings </th> ';
					strTable+='<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Image </th> ';
					strTable+='<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Use CKEditor </th> ';
					strTable+='<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Value </th> ';
					strTable+='<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Default Value </th> ';
					strTable+='<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Location </th> ';
					strTable+='<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Start Time </th> ';
					strTable+='<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> End Time </th> ';
					strTable+='<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Description </th> ';
					strTable+='<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Status Using </th> ';
					strTable+='<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Ordering </th> ';
					strTable+='<th  class="BorderHeader" style="width: 100px; white - space:nowrap"> Is System </th> ';
					strTable+='</tr> ';
					var n=0;
					var currentRow=4;
					for(var i=0;i<itemCount;i++) {
						var vTemp=datas[i];
						currentRow+=1;
						n+=1;
						strTable+='<tr >';
						strTable+='<th class="Border" > '+n+' </th> ';
						strTable+='<th  class="Border" > '+vTemp.KeySettings+' </th> ';
						strTable+='<th  class="Border" > '+vTemp.Image+' </th> ';
						strTable+='<th  class="Border" > '+vTemp.UseCKEditor+' </th> ';
						strTable+='<th  class="Border" > '+vTemp.Value+' </th> ';
						strTable+='<th  class="Border" > '+vTemp.DefaultValue+' </th> ';
						strTable+='<th  class="Border" > '+vTemp.Location+' </th> ';
						strTable+='<th  class="Border" > '+vTemp.StartTime+' </th> ';
						strTable+='<th  class="Border" > '+vTemp.EndTime+' </th> ';
						strTable+='<th  class="Border" > '+vTemp.Description+' </th> ';
						strTable+='<th  class="Border" > '+vTemp.Status+' </th> ';
						strTable+='<th  class="Border" > '+vTemp.Ordering+' </th> ';
						strTable+='<th  class="Border" > '+vTemp.IsSystem+' </th> ';
						strTable+='</tr>';
					}
					strTable+=' </table> ';
					ExportHtmlToExcel(strTable,'Sys_CustomSettings');
					showNoticeSuccess(language.Message_ExportSuccess);
				}

			</script>