<%- include ('./../../helpers/format-date') %>
    <%- include ('./../../helpers/format-summary') %>
        <% const linkPrefix=systemConfig.prefixBlog; const folder_uploads='uploads/articles/' ; %>


            <div class="col-lg-8 post-list">
                <div class="single-post-wrap">

                    <div class="content-wrap">
                        <ul class="tags mt-10">
                            <li><a
                                    href="<%= linkPrefix %>/categories/<%= itemArticle.categorie_id %>-<%= itemArticle.categorie_id %>">
                                    <%= itemArticle.categoryName %>
                                </a></li>
                        </ul>
                        <h3>
                            <%= itemArticle.title %>
                        </h3>
                        <ul class="meta pb-20">
                            <li><a href="#"><span class="lnr lnr-user"></span>
                                    <%= itemArticle.user_name_created %>
                                </a></li>
                            <li><a href="#"><span class="lnr lnr-calendar-full"></span>
                                    <%= formatDate(itemArticle.datetime_created) %>
                                </a></li>
                        </ul>
                        <p class="excert">
                        <h4>
                            <%- itemArticle.summary %>
                        </h4>
                        </p>
                        <% if(itemArticle.thumb.length > 3 ) { %>
                            <div class="feature-img-thumb relative">
                                <div class="overlay"></div>
                                <img class="img-fluid" src="<%= folder_uploads + itemArticle.thumb %>"
                                    alt="<%= itemArticle.title %>">
                            </div>
                        <% } %>
                        <p>
                            <%- itemArticle.content_articles %>
                        </p>
                    </div>

                    <div class="relavent-story-post-wrap mt-30">

                        <% if(itemsOthers.length> 0) { %>
                            <h4 class="title">Relavent Stories</h4>
                            <div class="relavent-story-list-wrap">
                                <% for(let i=0; i < itemsOthers.length; i++){ %>
                                    <div class="single-relavent-post row ">
                                        <div class="col-lg-5 post-left">
                                            <div class="feature-img relative">
                                                <div class="overlay"></div>
                                                <img class="img-fluid"
                                                    src="<%= folder_uploads + itemsOthers[i].thumb %>"
                                                    alt="<%= itemsOthers[i].title %>">
                                            </div>
                                            <ul class="tags">
                                                <li><a
                                                        href="<%= linkPrefix %>/categories/<%= itemsOthers[i].categorie_id %>-<%= itemsOthers[i].categorie_id %>">
                                                        <%= itemsOthers[i].categoryName %>
                                                    </a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-7 post-right">
                                            <a
                                                href="<%= linkPrefix %>/articles/<%= itemsOthers[i].slug %>-<%= itemsOthers[i].id %>">
                                                <h4>
                                                    <%= itemsOthers[i].title %>
                                                </h4>
                                            </a>
                                            <ul class="meta">
                                                <li><a href="#"><span class="lnr lnr-user"></span>
                                                        <%= itemsOthers[i].user_name_created %>
                                                    </a></li>
                                                <li><a href="#"><span class="lnr lnr-calendar-full"></span>
                                                        <%= formatDate(itemsOthers[i].datetime_created) %>
                                                    </a></li>
                                            </ul>
                                            <p class="excert">
                                                <%- itemsOthers[i].summary %>
                                            </p>
                                        </div>
                                    </div>
                                    <% } %>
                            </div>
                            <% } %>
                    </div>
                </div>
            </div>